<template>
    <div class="form-group" :class="{'has-error': !isValid}">
        <label-form :name="name" :tooltip="tooltip" :tooltip-required="tooltipRequired" :error="error" :required="required" :label-size="labelSize">
            <slot></slot>
        </label-form>
        <div :class="inputGroupClasses">
            <icon-form :icon="icon"></icon-form>
            <input ref="input"
                   type="text"
                   :name="name"
                   class="form-control" :class="{'readonly': readonly, 'text-right': !valueLeft}"
                   :readonly="readonly"
                   :required="required"
                   v-mask="vMask"
                   @input="updateValue"
                   @blur="blur"
                   @focus="focus"
                   @invalid="invalid"
                   @change="$emit('change', $event)"
                   autocomplete="off">
        </div>
    </div>
</template>

<script>
    import LabelForm from './Label'
    import IconForm from './Icon'

    export default {
        components: {
            LabelForm, IconForm
        },
        props: {
            name: {
                type: String,
                required: true,
            },
            value: [Number, String],
            precision: {
                type: [String, Number],
                default: 2,
            },
            tooltip: {
                type: String,
                required: false,
                default: ''
            },
            tooltipRequired: {
                type: Boolean,
                required: false,
                default: false
            },
            error: {
                type: Boolean,
                required: false,
                default: false
            },
            required: {
                type: Boolean,
                required: false,
                default: false
            },
            readonly: {
                type: Boolean,
                required: false,
                default: false
            },
            labelSize: {
                type: [String, Number],
                required: false,
                default: 5
            },
            inputSize: {
                type: [String, Number],
                required: false,
                default: 5
            },
            icon: {
                type: String,
                required: false,
                default: ''
            },
            valueLeft: {
                type: Boolean,
                required: false,
                default: false
            },
            thousandsSeparator: {
                type: String,
                required: false,
                default: ' '
            }
        },
        computed: {
            /**
             * Metoda zwraca tablicę class css dla tagu div.input-group
             *
             * @return <Array>
             */
            inputGroupClasses() {
                let response = [];
                response.push('input-group');
                response.push('col-xs-12');
                response.push('col-sm-' + this.inputSize);
                response.push('col-md-' + this.inputSize);
                response.push('col-lg-' + this.inputSize);

                if (this.icon !== '') {
                    response.push('InputIconGroup');
                }
                return response;
            },
        },
        data() {
            return {
                isValid: !this.error,
                vMask: {
                    mask: 'frrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr',
                    tokens: {
                        'f': {pattern: /[0-9\-]/}, //first char - myslnik, cyfra
                        'r': {pattern: /[0-9\, ]/} //rest chars - cyfra, przecinek i spacja by nie znikala po sformatowaniu
                    }
                }
            }
        },
        mounted() {
            if (this.value !== '') {
                let val = FormatAmount.toString(this.value.toString().replace('.', ','), this.precision, ',', this.thousandsSeparator);
                this.$refs.input.value = val;
                this.$emit('input', Number(FormatAmount.toNumber(val).replace(',', '.')));
            }
        },
        methods: {
            /**
             * Walidacja html na polu
             */
            validate() {
                this.isValid = true;
                this.$refs.input.checkValidity();
            },
            /**
             * Aktualizacja wartości pola
             *
             * @param <Object> event
             */
            updateValue(event) {
                if (event.target.value === '') {
                    this.$refs.input.value = '';
                    this.$emit('input', '');
                } else {
                    let pos = event.target.selectionStart;
                    let newValue = FormatAmount.toNumber(event.target.value);
                    if (newValue.indexOf(',') >= 0) {
                        let decimals = newValue.slice(newValue.indexOf(',') + 1);
                        if (decimals.indexOf(',') >= 0 || decimals.length > this.precision) {
                            newValue = FormatAmount.toString(this.value.toString().replace('.', ','), this.precision, ',', this.thousandsSeparator);
                        }
                    }
                    this.$refs.input.value = newValue;
                    this.$refs.input.setSelectionRange(pos, pos);
                    this.$emit('input', Number(newValue.replace(',', '.')));
                }
            },
            /**
             * Metoda wywołana na zdarzenie html focus
             *
             * @param <Object> event
             */
            focus(event) {
                let that = this;
                that.$refs.input.value = FormatAmount.toNumber(that.$refs.input.value);
                that.isValid = true;
                that.$nextTick(function () {
                    event.target.select();
                    that.$emit('focus', event);
                })
            },
            /**
             * Metoda wywołana na zdarzenie html blur
             *
             * @param <Object> event
             */
            blur(event) {
                this.$refs.input.value = FormatAmount.toString(this.$refs.input.value, this.precision, ',', this.thousandsSeparator);
                this.$emit('blur', event);
                this.validate();
            },
            /**
             * Metoda wywołana na zdarzenie html invalid
             *
             * @param <Object> event
             */
            invalid(event) {
                this.isValid = false;
                this.$emit('invalid', event);
            },
        }
    }
</script>
