<template>

    <div class="form-group" :class="{'has-error': !isValid}">
        <label-form :name="name" :tooltip="tooltip" :tooltip-required="tooltipRequired" :error="error"
                    :required="required" :label-size="labelSize">
            <slot></slot>
        </label-form>
        <div class="input-group InputIconGroup col-lg-5 col-md-5 col-sm-5 col-xs-6">
            <icon-form icon="calendar-alt"></icon-form>
            <input ref="input"
                   type="text"
                   :name="name"
                   class="form-control datepicker"
                   :class="{'readonly': readonly}"
                   :readonly="readonly"
                   :value="value"
                   :required="required"
                   @blur="blur"
                   @focus="focus"
                   @invalid="invalid"
                   @change="$emit('change', $event)"
                   autocomplete="off">
        </div>
    </div>

</template>

<script>
    import LabelForm from './Label'
    import IconForm from './Icon'

    export default {
        components: {
            LabelForm, IconForm
        },
        props: {
            name: {
                type: String,
                required: true,
            },
            value: String,
            tooltip: {
                type: String,
                required: false,
                default: ''
            },
            tooltipRequired: {
                type: Boolean,
                required: false,
                default: false
            },
            error: {
                type: Boolean,
                required: false,
                default: false
            },
            required: {
                type: Boolean,
                required: false,
                default: false
            },
            readonly: {
                type: Boolean,
                required: false,
                default: false
            },
            labelSize: {
                type: [String, Number],
                required: false,
                default: 5
            },
            min: {
                type: [String, Boolean],
                required: false,
                default: false
            },
            max: {
                type: [String, Boolean],
                required: false,
                default: false
            },
            useCurrent: {
                type: Boolean,
                required: false,
                default: true
            },
            separator: {
                type: String,
                required: false,
                default: '-'
            },
        },
        data() {
            return {
                isValid: !this.error,
                datePicker: null,
                format: 'YYYY' + this.separator + 'MM' + this.separator + 'DD',
            }
        },
        mounted() {
            this.datePicker = $(this.$refs.input);
            this.datePicker.datetimepicker({
                locale: 'pl',
                format: this.format,
                minDate: this.prepareDateValueMin(this.min),
                maxDate: this.prepareDateValueMax(this.max),
                useCurrent: this.useCurrent
            }).on('dp.change', () => this.updateValue(this.datePicker.val()));
        },
        methods: {
            /**
             * Walidacja html na polu
             */
            validate() {
                this.isValid = true;
                this.$refs.input.checkValidity();
            },
            /**
             * Aktualizacja wartości pola
             *
             * @param <String> value
             */
            updateValue(value) {
                this.$emit('input', value);
            },
            /**
             * Metoda wywołana na zdarzenie html focus
             *
             * @param <Object> event
             */
            focus(event) {
                this.isValid = true;
                this.$emit('focus', event);
            },
            /**
             * Metoda wywołana na zdarzenie html blur
             *
             * @param <Object> event
             */
            blur(event) {
                this.$emit('blur', event);
                this.validate();
            },
            /**
             * Metoda wywołana na zdarzenie html invalid
             *
             * @param <Object> event
             */
            invalid(event) {
                this.isValid = false;
                this.$emit('invalid', event);
            },
            /**
             * Metoda zwraca obiekt datapicker
             *
             * @return <datapicker>
             */
            getDateTimePicker() {
                return this.datePicker.data('DateTimePicker');
            },
            /**
             * Metoda zwraca false lub date w formacie: this.format + 00:00:00.000
             *
             * @param <string|boolean> value
             * @return <string|boolean>
             */
            prepareDateValueMin(value) {
                return value && value !== '' ? moment(value).format(this.format + ' 00:00:00.000').toString() : false;
            },
            /**
             * Metoda zwraca false lub date w formacie: this.format + 23:59:59.999
             *
             * @param <string|boolean> value
             * @return <string|boolean>
             */
            prepareDateValueMax(value) {
                return value && value !== '' ? moment(value).format(this.format + ' 23:59:59.999').toString() : false;
            }
        },
        watch: {
            /**
             * Nasłuch na zmianę propsa error
             */
            error() {
                this.isValid = !this.error;
            },
            /**
             * Nasłuch na zmianę propsa min
             */
            min() {
                this.getDateTimePicker().minDate(this.prepareDateValueMin(this.min));
            },
            /**
             * Nasłuch na zmianę propsa max
             */
            max() {
                this.getDateTimePicker().maxDate(this.prepareDateValueMax(this.max));
            }
        }
    }
</script>
