<template>

    <div>

        <form-select
                ref="sourceType"
                :name="'source-of-'+name"
                v-model="source"
                :options="sources"
                :error="error"
                :tooltip="tooltip"
                :tooltip-required="tooltipRequired"
                :label-size="labelSize"
                :input-size="inputSize"
                :required="required">
            <slot>Źródło dokumentu</slot>
        </form-select>

        <form-file
                v-if="isSourceFile()"
                ref="inputFile"
                :name="name"
                v-model="file"
                :label-size="labelSize"
                :required="required"></form-file>

        <form-scanner
                v-if="isSourceScan()"
                ref="inputScanner"></form-scanner>
    </div>

</template>

<script>
    export default {
        props: {
            name: {
                type: String,
                required: true,
            },
            tooltip: {
                type: String,
                required: false,
                default: ''
            },
            tooltipRequired: {
                type: Boolean,
                required: false,
                default: false
            },
            error: {
                type: Boolean,
                required: false,
                default: false
            },
            required: {
                type: Boolean,
                required: false,
                default: false
            },
            labelSize: {
                type: [String, Number],
                required: false,
                default: 5
            },
            inputSize: {
                type: [String, Number],
                required: false,
                default: 7
            }
        },
        data() {
            return {
                source: '',
                sources: {
                    'file': 'z pliku',
                    'scan': 'skanuj'
                },
                file: '',
                isValid: !this.error,
            }
        },
        methods: {
            /**
             * Walidacja html na polu
             */
            validate() {
                this.$refs.sourceType.firstValidation = false;
                this.$refs.sourceType.validate();
                if (this.$refs.sourceType.isValid) {
                    this.isValid = true;
                    if (this.isSourceFile()) {
                        this.$refs.inputFile.firstValidation = false;
                        this.$refs.inputFile.validate();
                        this.isValid = this.$refs.sourceType.isValid = this.$refs.inputFile.isValid;
                    }
                    if (this.isSourceScan()) {
                        this.isValid = this.$refs.sourceType.isValid = this.$refs.inputScanner.imagesCount() > 0;
                    }
                } else {
                    this.isValid = false;
                }
            },
            /**
             * Sprawdza czy wybrano zrodlo dokumentu w postaci pliku
             *
             * @return {Boolean}
             */
            isSourceFile() {
                return this.source === 'file';
            },
            /**
             * Sprawdza czy wybrano zrodlo dokumentu w postaci skanera
             *
             * @return {Boolean}
             */
            isSourceScan() {
                return this.source === 'scan';
            },
        }
    }
</script>
