<template>
    <div class="form-group" :class="{'has-error': !isValid}">
        <label-form :name="name+'-file'" :tooltip="tooltip" :tooltip-required="tooltipRequired" :error="error" :required="required" :label-size="labelSize">
            <slot></slot>
        </label-form>
        <div :class="inputGroupClasses">
            <input ref="input"
                   v-if="uploadReady"
                   type="file"
                   :name="name"
                   class="upload"
                   :accept="acceptedExtensionsToString"
                   @change="updateValue()"
                   :disabled="readonly"
                   :required="required">
            <label class="d-inline btn btn-default" :for="name">Wybierz plik</label>
            <button type="button" v-if="value!==''" @click="clear()" class="close text-red" aria-hidden="true">×</button>
        </div>
    </div>
</template>

<script>
    import LabelForm from './Label'

    /**
     Rozszerzenia dla dokumentów:
     doc, docx, xls, xlsx, tiff, txt, odt, ppt, pptx, rtf, xml, csv, xps
     Rozszerzenia dla zip-ow:
     rar, zip, .7z, 001, 002, 003, 004, 005
     Rozszerzenia dla grafik:
     jpg, jpeg, png, gif, bmp,
     Rozszerzenia dla pdf:
     pdf,
     Rozszerzenia dla wiadomości:
     msg, eml
     Inne:
     htm, html, iff, lsx, ocx, p7s, xps, tif, lsm, peg
     */

    export default {
        components: {
            LabelForm
        },
        props: {
            name: {
                type: String,
                required: true,
            },
            value: {
                type: String,
                required: false,
                default: ''
            },
            tooltip: {
                type: String,
                required: false,
                default: ''
            },
            tooltipRequired: {
                type: Boolean,
                required: false,
                default: false
            },
            error: {
                type: Boolean,
                required: false,
                default: false
            },
            required: {
                type: Boolean,
                required: false,
                default: false
            },
            readonly: {
                type: Boolean,
                required: false,
                default: false
            },
            labelSize: {
                type: [String, Number],
                required: false,
                default: 5
            },
            acceptExt: {
                type: Array,
                required: false,
                default: () => {
                    return [
                        'doc', 'docx', 'xls', 'xlsx', 'tiff', 'txt', 'odt', 'ppt', 'pptx', 'rtf', 'xml', 'csv', 'xps', 'rar', 'zip', '7z', '001', '002', '003', '004', '005',
                        'msg', 'eml', 'pdf', 'jpg', 'jpeg', 'png', 'gif', 'bmp', 'htm', 'html', 'iff', 'lsx', 'ocx', 'p7s', 'xps', 'tif', 'lsm', 'peg'
                    ];
                }
            },
            maxSize: {
                type: [String, Number],
                required: false
            }
        },
        computed: {
            /**
             * Metoda zwraca tablicę class css dla tagu div.input-group
             *
             * @return <Array>
             */
            inputGroupClasses() {
                let response = [];
                response.push('input-group');
                response.push('col-xs-7');
                response.push('col-sm-7');
                response.push('col-md-5');
                response.push('col-lg-5');

                if (this.icon !== '') {
                    response.push('InputIconGroup');
                }
                return response;
            },
            acceptedExtensionsToString() {
                let str = '';
                if (this.acceptExt.length > 0) {
                    str = '.' + _.join(this.acceptExt, ',.')
                }
                return str;
            }
        },
        data() {
            return {
                firstValidation: true,
                isValid: !this.error,
                uploadReady: true,
            }
        },
        mounted() {
            this.clear()
        },
        methods: {
            /**
             * Walidacja html na polu
             */
            validate() {
                this.isValid = true;
                if (!this.firstValidation && this.required) {
                    this.isValid = this.value !== '';
                }
                if (this.acceptExt.length > 0 && this.value !== '') {
                    this.isValid = this.acceptExt.includes(this.value.split('.').pop())
                }
                if (this.maxSize && this.value !== '' && this.isValid) {
                    this.isValid = (this.maxSize * Math.pow(1024, 2)) >= this.$refs.input.files[0].size
                }
                this.firstValidation = false;
            },
            /**
             * Aktualizacja wartości pola
             */
            updateValue() {
                this.$emit('input', this.$refs.input.files[0].name);
            },
            /**
             * Wczyszczenie wartosci pola
             */
            clear() {
                this.uploadReady = false;
                this.$nextTick(() => {
                    this.uploadReady = true;
                    this.$emit('input', '');
                });
            }
        },
        watch: {
            value() {
                this.validate();
            }
        }
    }
</script>

<style scoped>
    .upload {
        width: calc(50% - 80px);
        height: 30px;
        opacity: 1;
        position: absolute;
    }

    .upload + label {
        font-size: 0.98em;
        font-weight: 400;
        color: #333;
        text-align: center;
        background-color: #F4F4F4;
        display: inline-block;
        transition: 150ms;
        border-color: #ADADAD;
        padding: 6px 12px;
        position: relative;
    }

    .upload[disabled] + label {
        cursor: not-allowed;
        color: #CCC;
    }

    .upload:focus + label,
    .upload + label:hover {
        background-color: #E6E6E6;;
        cursor: pointer;
    }

    .upload[disabled]:focus + label,
    .upload[disabled] + label:hover {
        background-color: #F4F4F4;;
        cursor: not-allowed;
        color: #CCC;
    }

    .upload:focus + label {
        outline: 1px dotted #000;
        outline: -webkit-focus-ring-color auto 5px;
    }

    .close.text-red {
        opacity: 1;
    }

    .has-error input {
        color: #DC2B27;
    }
</style>
