<template>

    <form @submit="submit" enctype="multipart/form-data" novalidate>
        <notification v-if="errors.length" type="danger" class="div-alone-bottom">
            <p v-for="err in errors" v-html="err"></p>
        </notification>
        <notification v-if="msgSuccess != ''" type="success" class="div-alone-bottom">
            <p>{{ msgSuccess }}</p>
        </notification>

        <div class="row">
            <div class="col-lg-12">
                <slot></slot>
            </div>
        </div>

        <div class="button-hr" v-if="!isEmpty(data.btn)"></div>

        <div class="row">
            <div class="col-lg-12 text-left">
                <slot name="actions">
                    <button v-for="(action, key) in data.btn"
                            v-if="action.type === 'submit'"
                            v-show="!action.hidden"
                            :type="action.type"
                            class="btn" :class="action.classCss"
                            :name="key"
                            :disabled="action.disabled"
                    >{{ action.label }}</button>
                    <button v-else
                            v-show="!action.hidden"
                            :type="action.type"
                            class="btn" :class="action.classCss"
                            :name="key"
                            :disabled="action.disabled"
                            @click="makeAction($event, action)"
                    >{{ action.label }}</button>
                </slot>
            </div>
        </div>

    </form>

</template>

<script>
    export default {
        props: {
            data: {
                type: Object,
                required: true,
            },
            ajaxSend: {
                type: Boolean,
                required: false,
                default: false,
            },
            msgOnSuccess: {
                type: String,
                required: false,
                default: '',
            }
        },
        data() {
            let data = {
                errors: this.data.msg,
                isValid: false,
                msgFront: 'Wypełnij poprawnie wszystkie pola formularza <strong>oznaczone jako wymagane</strong>.',
                msgDomain: 'Wypełnij poprawnie <strong>wszystkie</strong> pola formularza.',
                msgSuccess: this.msgOnSuccess,
            };
            if (data.errors.length) {
                data.errors.unshift(data.msgDomain);
            }
            return data;
        },
        methods: {
            /**
             * Wykonuje akcje walidacji i wysłania formularza
             */
            submit(event) {
                this.validate();
                if (!this.isValid) {
                    event.preventDefault();
                } else if (this.ajaxSend) {
                    event.preventDefault();
                    this.$emit('submit');
                    this.sendAjax();
                }
            },
            /**
             * Wykonuje akcje po kliknieciu w przycisk
             */
            makeAction(event, action) {
                this.isValid = true;

                if (action.withValidation) {
                    this.validate();
                }

                if (this.isValid && action.type === 'button') {
                    this.$emit(event.target.name);
                }
            },
            /**
             * Wysyła formularz ajaxem
             */
            sendAjax() {
                let that = this;
                that.errors = [];
                that.msgSuccess = '';
                let data = new FormData();
                for (let key in that.data.el) {
                    that.data.el[key].error = false;
                    if (that.data.el[key].type === 'file' || that.data.el[key].type === 'multifile') {
                        let name = that.data.el[key].name + (that.data.el[key].type === 'multifile' ? '[]' : '');
                        let input = $(this.$el).find('input[name="' + name + '"]');
                        for (let i = 0; i < input.length; i++) {
                            let file = input[i];
                            if (file.files.length && !file.disabled) {
                                data.append(name, file.files[0]);
                            }
                        }
                    } else {
                        data.append(key, that.data.el[key].value);
                    }
                }
                that.$emit('ajaxstart');
                axios({
                    method: this.$el.method,
                    url: this.$el.action,
                    data: data,
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                }).then(function (response) {
                    if (response.data.msgSuccess) {
                        that.msgSuccess = response.data.msgSuccess
                    }
                    that.$emit('ajaxsuccess', response);
                }).catch(function (error) {
                    let data = error.response.data;
                    if (data.code == 422) {
                        that.errors.push(that.msgDomain);
                        data.fields.forEach(function (field) {
                            that.errors.push(field.message);
                            that.data.el[field.field].error = true;
                        });
                    }
                    that.$emit('ajaxerror', error);
                });
            },

            /**
             * Validuje formularz pod względem wypełnienie wymaganych pól
             * Wypełnia tablicę błędów, zaznacza błęde pola
             */
            validate() {
                for (let element in this.$children) {
                    if (this.$children[element].validate) {
                        this.$children[element].validate();
                    }
                }
                this.isValid = _.filter(this.$children, ['isValid', false]).length > 0 ? false : true;
                if (!this.isValid) {
                    this.errors = [];
                    this.errors.push(this.msgFront);
                }
            },

            /**
             * Sprawdza czy przekazana wartość jest pusta.
             * Zwraca `true` dla pustej wartości, `false` w przeciwnym przypadku.
             *
             * @param {(Object|Array)} el Wartość do sprawdzenia
             *
             * @return {boolean}
             */
            isEmpty(el) {
                return _.isEmpty(el);
            },
        }
    }
</script>
