<template>
    <span v-if="icon !== ''" class="input-group-addon">
        <fa-icon :name="icon"></fa-icon>
    </span>
</template>

<script>
    export default {
        props: {
            icon: {
                type: String,
                required: false,
                default: ''
            }
        }
    }
</script>
