<template>
    <label :for="name" :class="labelClasses">
        <slot></slot>
        <span v-if="tooltip !== '' && (error || tooltipRequired)" data-toggle="tooltip" data-placement="auto" :data-original-title="tooltip">
            <fa-icon class="text-grey" name="question-circle"></fa-icon>
        </span>
    </label>
</template>

<script>
    export default {
        props: {
            name: {
                type: String,
                required: true,
            },
            tooltip: {
                type: String,
                required: false,
                default: ''
            },
            tooltipRequired: {
                type: Boolean,
                required: false,
                default: false
            },
            error: {
                type: Boolean,
                required: false,
                default: false
            },
            required: {
                type: Boolean,
                required: false,
                default: false
            },
            labelSize: {
                type: [String, Number],
                required: false,
                default: 5
            },
        },
        computed: {
            /**
             * Metoda zwraca tablicę class css dla tagu label
             *
             * @return <Array>
             */
            labelClasses() {
                let response = [];
                response.push('control-label');
                response.push('col-xs-12');
                response.push('col-sm-' + this.labelSize);
                response.push('col-md-' + this.labelSize);
                response.push('col-lg-' + this.labelSize);

                if (!this.required) {
                    response.push('optional');
                }
                if (this.required) {
                    response.push('required');
                }
                return response;
            },
        }
    }
</script>