<template>

    <div class="form-group" :class="{'has-error': !isValid}">
        <label-form :name="name" :tooltip="tooltip" :tooltip-required="tooltipRequired" :error="error" :required="required" :label-size="labelSize">
            <slot></slot>
        </label-form>
        <div class="input-group tex-left col-xs-7">
            <label class="multi d-inline btn btn-default" :class="{'disabled': filesToSend.length >= max}">Wybierz plik
                <input v-for="file, index in files" ref="input" type="file"
                       class="upload multifiles" :name="name+'[]'" @change="addFile" :accept="acceptedExtensionsToString"
                       :disabled="file.deleted || (index === files.length-1 && filesToSend.length >= max)">
            </label>
        </div>

        <div class="col-xs-offset-5 col-xs-7 position">
            <ul class="list-unstyled multifile-list">
                <li v-if="!isValid && filesToSend.length===0" class="no-dotted has-error-li">Nie wybrano pliku.</li>
                <li v-for="file in filesToSend" v-if="!file.deleted && file.event" :class="{'has-error-li': file.error!==''}">
                    <fa-icon v-if="file.error!==''" data-toggle="tooltip" data-placement="auto" :data-original-title="file.error" class="text-grey mr-5" name="exclamation-circle-solid"></fa-icon>
                    {{ file.name }} <button @click="deleteFile(file)" class="close text-red" type="button"><i class="fa times-i"></i></button>
                </li>
            </ul>
        </div>
    </div>

</template>

<script>
    import LabelForm from './Label'

    export default {
        components: {
            LabelForm
        },
        props: {
            name: {
                type: String,
                required: true,
            },
            value: {
                type: Array,
                required: false,
                default: ''
            },
            tooltip: {
                type: String,
                required: false,
                default: ''
            },
            tooltipRequired: {
                type: Boolean,
                required: false,
                default: false
            },
            error: {
                type: Boolean,
                required: false,
                default: false
            },
            required: {
                type: Boolean,
                required: false,
                default: false
            },
            readonly: {
                type: Boolean,
                required: false,
                default: false
            },
            labelSize: {
                type: [String, Number],
                required: false,
                default: 5
            },
            min: {
                type: [String, Number],
                required: false,
                default: 0
            },
            max: {
                type: [String, Number],
                required: false,
                default: 10
            },
            acceptExt: {
                type: Array,
                required: false,
                default: () => {
                    return [
                        'doc', 'docx', 'xls', 'xlsx', 'tiff', 'txt', 'odt', 'ppt', 'pptx', 'rtf', 'xml', 'csv', 'xps', 'rar', 'zip', '7z', '001', '002', '003', '004', '005',
                        'msg', 'eml', 'pdf', 'jpg', 'jpeg', 'png', 'gif', 'bmp', 'htm', 'html', 'iff', 'lsx', 'ocx', 'p7s', 'xps', 'tif', 'lsm', 'peg'
                    ];
                }
            },
            maxSize: {
                type: [String, Number],
                required: false
            },
            summaryMaxSize: {
                type: [String, Number],
                required: false
            }
        },
        data() {
            return {
                isValid: !this.error,
                uid: 2,
                files: [{
                    id: 1,
                    name: '',
                    size: 0,
                    error: '',
                    deleted: false
                }]
            }
        },
        computed: {
            filesToSend() {
                let tab = [];
                for (let i = this.files.length - 1; i >= 0; i--) {
                    if (!this.files[i].deleted && this.files[i].name !== '') {
                        tab.push(this.files[i]);
                    }
                }
                return tab;
            },
            acceptedExtensionsToString() {
                let str = '';
                if (this.acceptExt.length > 0) {
                    str = '.' + _.join(this.acceptExt, ',.')
                }
                return str;
            }
        },
        methods: {
            /**
             * Walidacja html na polu
             */
            validate() {
                this.isValid = true;
                if (this.required) {
                    if (this.filesToSend.length > 0) {
                        this.isValid = this.filesToSend.length >= this.min && this.filesToSend.length <= this.max
                    } else {
                        this.isValid = false;
                    }
                }

                for (let key in this.filesToSend) {
                    this.filesToSend[key].error = '';
                }

                if (this.acceptExt.length > 0 && this.filesToSend.length > 0 && this.isValid) {
                    for (let key in this.filesToSend) {
                        if (!this.acceptExt.includes(this.filesToSend[key].name.split('.').pop())) {
                            this.filesToSend[key].error = 'Typ pliku jest niezgodny z wymaganiami.';
                            this.isValid = false;
                        }
                    }
                }
                if (this.acceptExt.length > 0 && this.filesToSend.length > 0 && this.isValid) {
                    let summary = 0;
                    let max = this.maxSize * Math.pow(1024, 2);
                    let summaryMax = this.summaryMaxSize * Math.pow(1024, 2);
                    for (let key in this.filesToSend) {
                        summary += this.filesToSend[key].size;
                        if (this.maxSize && max < this.filesToSend[key].size) {
                            this.filesToSend[key].error = 'Przekroczona dopuszczalna wielkość pliku.';
                            this.isValid = false;
                        }
                    }
                    if (summaryMax && summaryMax < summary) {
                        this.isValid = false;
                        for (let key in this.filesToSend) {
                            this.filesToSend[key].error = 'Suma wielkości wszystkich plików, przekroczyła dopuszczalny limit.';
                        }
                    }
                }
            },
            /**
             * Aktualizacja wartości pola
             */
            updateValue() {
                this.$emit('input', _.map(this.filesToSend, 'name'));
            },
            /**
             * Akcja po dodaniu pliku
             *
             * @param event Aktualny input
             */
            addFile(event) {
                this.files[this.files.length - 1].name = event.target.files[0].name;
                this.files[this.files.length - 1].size = event.target.files[0].size;
                this.files[this.files.length - 1].event = event;

                if (this.filesToSend.length <= this.max) {
                    event.target.style.display = 'none';
                    this.files.push({
                        id: this.uid,
                        name: '',
                        size: 0,
                        error: '',
                        deleted: false
                    });
                    this.uid++;
                }
                this.updateValue();
            },
            /**
             * Skasowanie pliku
             *
             * @param id Id pliku
             */
            deleteFile(file) {
                file.deleted = true;
                this.updateValue();
            }
        },
        watch: {
            value() {
                this.validate();
            }
        }
    }
</script>

<style scoped>
    label.multi {
        font-size: 0.98em;
        font-weight: 400;
        color: #333;
        text-align: center;
        background-color: #F4F4F4;
        display: inline-block;
        transition: 150ms;
        border-color: #ADADAD;
        padding: 6px 12px;
        position: relative;
    }

    .upload.multifiles {
        width: 90px;
        height: 30px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
    }

    ul.multifile-list {
        margin-left: 90px;
        margin-top: -37px;
        margin-bottom: 10px;
    }

    .multifile-list li {
        border-bottom: 1px dotted #666;
        padding: 8px;
    }

    .multifile-list li button {
        font-size: 12px;
        opacity: 1;
    }

    li.has-error-li {
        color: #DC2B27;
    }

    .multifile-list .no-dotted {
        border-bottom: 0 none;
    }

    .position {
        position: relative;
    }
</style>