<template>
    <form-text
            ref="input"
            :name="name"
            :value="value"
            @input="updateValue($event)"
            :tooltip="nipTooltip"
            :tooltip-required="tooltipRequired"
            :error="error"
            :required="required"
            :readonly="readonly"
            :label-size="labelSize"
            :input-size="inputSize"
            :icon="icon"
            @blur="$emit('blur', $event)"
            @focus="$emit('focus', $event)"
            @invalid="invalid"
            @change="$emit('change', $event)"
            pattern="^\d{3}[\-]\d{3}[\-]\d{2}[\-]\d{2}$"
            mask="###-###-##-##">
        <slot>NIP</slot>
    </form-text>
</template>
<script>
    export default {
        props: {
            name: {
                type: String,
                required: true,
            },
            value: [String, Number],
            /**
             * jesli true wyswietla default tooltip, inaczej jako string ''=>nic nie wyswietla, 'cos'=> wyswielta cos
             */
            tooltip: {
                type: [Boolean, String],
                required: false,
                default: ''
            },
            tooltipRequired: {
                type: Boolean,
                required: false,
                default: false
            },
            error: {
                type: Boolean,
                required: false,
                default: false
            },
            required: {
                type: Boolean,
                required: false,
                default: false
            },
            readonly: {
                type: Boolean,
                required: false,
                default: false
            },
            labelSize: {
                type: [String, Number],
                required: false,
                default: 5
            },
            inputSize: {
                type: [String, Number],
                required: false,
                default: 7
            },
            icon: {
                type: String,
                required: false,
                default: ''
            },
        },
        data() {
            return {
                isValid: !this.error,
                nipTooltip: this.tooltip === true ? 'NIP powinien składać się z 10 cyfr.' : this.tooltip,
            }
        },
        methods: {
            /**
             * Walidacja html na polu
             */
            validate() {
                this.isValid = true;
                this.$refs.input.validate()
            },
            /**
             * Aktualizacja wartości pola
             *
             * @param <String> value
             */
            updateValue(value) {
                this.$emit('input', value)
            },
            /**
             * Metoda wywołana na zdarzenie html invalid
             *
             * @param <Object> event
             */
            invalid(event) {
                this.isValid = false;
                this.$emit('invalid', event);
            },
        }
    }
</script>
