<template>
    <div>
        <form-nrb
                ref="input"
                :name="name"
                :value="value"
                @input="updateValue($event)"
                :tooltip="tooltip"
                :tooltip-required="tooltipRequired"
                :error="error"
                :required="required"
                :readonly="readonly"
                :label-size="labelSize"
                :input-size="inputSize"
                @blur="$emit('blur', $event)"
                @focus="$emit('focus', $event)"
                @invalid="invalid"
                @ajaxstart="ajaxStartEvent"
                @ajaxsuccess="ajaxSuccessEvent"
                @ajaxerror="ajaxErrorEvent"
                @changenrb="changeNrbEvent">
            <slot></slot>
        </form-nrb>
        <transition name="slide-fade">
            <div v-if="hasNrbData" class="recipient-data">

                <template v-for="(label, key) in recipientLabels">

                    <div v-if="key === 'recipient' && data.object && data.object.owner" class="form-group row">
                        <div class="col-lg-4 col-xs-3">
                            <span class="text-bold">{{ label ? label : 'Dane odbiorcy' }}</span>
                        </div>
                        <div class="col-lg-8 col-xs-9">
                            <span class="text-bold">{{ data.object.owner.name }}</span>
                            <span class="text-normal">{{ data.object.owner.address }}</span>
                            <span class="text-normal">{{ data.object.owner.zipCode }} {{ data.object.owner.city }}</span>
                        </div>
                    </div>

                    <div v-else-if="key === 'bank' && data.bankName"  class="form-group row">
                        <div class="col-lg-4 col-xs-3">
                            <span class="text-bold">{{ label ? label : 'Bank' }}</span>
                        </div>
                        <div class="col-lg-8 col-xs-9">
                            <span class="text-normal">{{ data.bankName }}</span>
                        </div>
                    </div>

                    <div v-else-if="key === 'nrb' && data.nrb" class="form-group row">
                        <div class="col-lg-4 col-xs-3">
                            <span class="text-bold">{{ label ? label : 'NRB' }}</span>
                        </div>
                        <div class="col-lg-8 col-xs-9">
                            <span class="text-normal">{{ data.nrb | format_account_number}}</span>
                        </div>
                    </div>

                    <div v-else-if="key === 'balance' && data.object && data.object.balance" class="form-group row">
                        <div class="col-lg-4 col-xs-3">
                            <span class="text-bold">{{ label ? label : 'Saldo' }}</span>
                        </div>
                        <div class="col-lg-8 col-xs-9">
                            <span class="text-normal"><strong>{{ data.object.balance | format_amount }}</strong> {{ data.object.currency.value }}</span>
                        </div>
                    </div>

                    <div v-else-if="data.object && data.object[key]" class="form-group row">
                        <div class="col-lg-4 col-xs-3">
                            <span class="text-bold">{{ label }}</span>
                        </div>
                        <div class="col-lg-8 col-xs-9">
                            <span class="text-normal">{{ data.object[key] }}</span>
                        </div>
                    </div>

                </template>
            </div>
        </transition>
    </div>
</template>
<script>
    export default {
        props: {
            name: {
                type: String,
                required: true,
            },
            value: [String, Number],
            /**
             * jesli true wyswietla default tooltip, inaczej jako string ''=>nic nie wyswietla, 'cos'=> wyswielta cos
             */
            tooltip: {
                type: [Boolean, String],
                required: false,
                default: ''
            },
            tooltipRequired: {
                type: Boolean,
                required: false,
                default: false
            },
            error: {
                type: Boolean,
                required: false,
                default: false
            },
            required: {
                type: Boolean,
                required: false,
                default: false
            },
            readonly: {
                type: Boolean,
                required: false,
                default: false
            },
            labelSize: {
                type: [String, Number],
                required: false,
                default: 5
            },
            inputSize: {
                type: [String, Number],
                required: false,
                default: 7
            },
            recipientLabels: {
                type: Object,
                required: false,
                default() {
                    return {
                        recipient: false,
                        bank: false,
                        nrb: false,
                        balance: false,
                    }
                }
            }
        },
        data() {
            return {
                isValid: !this.error,
                hasNrbData: false,
                data: {},
            }
        },
        methods: {
            /**
             * Walidacja html na polu
             */
            validate() {
                this.isValid = true;
                this.$refs.input.validate()
            },
            /**
             * Aktualizacja wartości pola
             *
             * @param <String> value
             */
            updateValue(value) {
                this.$emit('input', value);
            },
            /**
             * Metoda wywołana na zdarzenie html invalid
             *
             * @param <Object> event
             */
            invalid(event) {
                this.isValid = false;
                this.$emit('invalid', event);
            },
            /**
             * Metoda wywołana na zdarzenie form-nrb ajaxstart
             *
             * @param <Object> event
             */
            ajaxStartEvent(event) {
                this.$emit('ajaxstart', event);
            },
            /**
             * Metoda wywołana na zdarzenie form-nrb ajaxsuccess
             *
             * @param <Object> event
             */
            ajaxSuccessEvent(event) {
                this.data = event;
                this.hasNrbData = true;
                this.$emit('ajaxsuccess', event);
            },
            /**
             * Metoda wywołana na zdarzenie form-nrb ajaxerror
             *
             * @param <Object> event
             */
            ajaxErrorEvent(event) {
                this.$emit('ajaxerror', event);
            },
            /**
             * Metoda wywołana na zdarzenie form-nrb changenrb
             *
             * @param <Object> event
             */
            changeNrbEvent(event) {
                this.data = {};
                this.hasNrbData = false;
                this.$emit('changenrb', event);
            }
        }
    }
</script>

<style scoped>
    /* Enter and leave animations can use different */
    /* durations and timing functions.              */
    .slide-fade-enter-active {
        transition: all .3s ease;
    }

    .slide-fade-leave-active {
        transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
    }

    .slide-fade-enter, .slide-fade-leave-to
        /* .slide-fade-leave-active below version 2.1.8 */
    {
        transform: translateX(-10px);
        opacity: 0;
    }
</style>