<template>
    <div>
        <form-text
                ref="input"
                :name="name"
                :value="value"
                @input="updateValue($event)"
                :tooltip="peselTooltip"
                :tooltip-required="tooltipRequired"
                :error="error"
                :required="required"
                :readonly="blocked"
                :label-size="labelSize"
                :input-size="inputSize"
                :icon="icon"
                @blur="$emit('blur', $event)"
                @focus="$emit('focus', $event)"
                @invalid="invalid"
                @change="$emit('change', $event)"
                pattern="^\d{11}$"
                mask="###########">
            <slot>PESEL</slot>
        </form-text>
        <transition name="slide-fade">
            <div v-if="buttons.show" class="form-group">
                <div :class="inputGroupClass">
                    <button type="button" class="btn btn-success btn-sm div-alone-bottom" v-if="buttons.submit.visible" :disabled="buttons.submit.disabled" @click="submit()">Wyszukaj</button>
                    <button type="button" class="btn btn-default btn-sm div-alone-bottom" v-if="buttons.change.visible" @click="change()" :disabled="readonly">Zmień</button>
                </div>
            </div>
        </transition>
    </div>
</template>
<script>
    export default {
        props: {
            name: {
                type: String,
                required: true,
            },
            value: [String, Number],
            /**
             * jesli true wyswietla default tooltip, inaczej jako string ''=>nic nie wyswietla, 'cos'=> wyswielta cos
             */
            tooltip: {
                type: [Boolean, String],
                required: false,
                default: ''
            },
            tooltipRequired: {
                type: Boolean,
                required: false,
                default: false
            },
            error: {
                type: Boolean,
                required: false,
                default: false
            },
            required: {
                type: Boolean,
                required: false,
                default: false
            },
            readonly: {
                type: Boolean,
                required: false,
                default: false
            },
            labelSize: {
                type: [String, Number],
                required: false,
                default: 5
            },
            inputSize: {
                type: [String, Number],
                required: false,
                default: 7
            },
            icon: {
                type: String,
                required: false,
                default: ''
            },
            search: {
                type: Boolean,
                required: false,
                default: false
            }
        },
        computed: {
            inputGroupClass() {
                let response = [];
                response.push('col-xs-offset-' + this.labelSize);
                response.push('col-xs-' + this.inputSize);
                response.push('padding-zero');
                return response;
            },
        },
        data() {
            return {
                isValid: !this.error,
                peselTooltip: this.tooltip === true ? 'PESEL powinien składać się z 11 cyfr.' : this.tooltip,
                buttons: {
                    show: false,
                    submit: {
                        visible: true,
                        disabled: false
                    },
                    change: {
                        visible: false
                    }
                },
                blocked: this.readonly,
                peselLength: 11
            }
        },
        methods: {
            /**
             * Walidacja html na polu
             */
            validate() {
                this.isValid = true;
                this.$refs.input.validate()
            },
            /**
             * Aktualizacja wartości pola
             *
             * @param <String> value
             */
            updateValue(value) {
                this.$emit('input', value)
            },
            /**
             * Metoda wywołana na zdarzenie html invalid
             *
             * @param <Object> event
             */
            invalid(event) {
                this.isValid = false;
                this.$emit('invalid', event);
            },
            /**
             * Wysyła zapytanie
             */
            submit() {
                let that = this;
                that.validate();
                if (that.search && that.isValid) {
                    that.blockField();
                    that.$emit('ajaxstart');
                    axios.get(fo.makeUrl('customer', 'person', 'findByPesel'), {
                        params: {
                            pesel: that.value
                        }
                    }).then(function (response) {
                        that.hideSearchButton();
                        that.$emit('ajaxsuccess', response.data);
                    }).catch(function (error) {
                        that.hideSearchButton();
                        that.$emit('ajaxerror', error.response.data);
                    });
                }
            },
            /**
             * Blokuje pole oraz przycisk Wyszukaj
             */
            blockField() {
                this.blocked = true;
                this.buttons.submit.disabled = true;
            },
            /**
             * Ukrywa przycisk Wyszukaj oraz pokazuje przycisk Zmień
             */
            hideSearchButton() {
                this.buttons.submit.visible = false;
                this.buttons.change.visible = true;
            },
            /**
             * Odblokowuje pole w celu ponownego wprowadzenia,
             * odblokowuje i pokazuje przycisk Wyszukaj oraz ukrywa przycisk Zmień
             */
            change() {
                this.buttons.change.visible = false;
                this.buttons.submit.visible = true;
                this.buttons.submit.disabled = false;
                this.blocked = false;
                this.$emit('changepesel');
            },
        },
        watch: {
            value(newVal, oldVal) {
                if (this.search) {
                    if (newVal.length >= this.peselLength) {
                        this.buttons.show = true;
                    } else {
                        this.buttons.show = false;
                        this.buttons.submit.visible = true;
                        this.buttons.submit.disabled = false;
                        this.buttons.change.visible = false;
                    }
                }
            }
        }
    }
</script>

<style scoped>
    /* Enter and leave animations can use different */
    /* durations and timing functions.              */
    .slide-fade-enter-active {
        transition: all .3s ease;
    }

    .slide-fade-leave-active {
        transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
    }

    .slide-fade-enter, .slide-fade-leave-to
        /* .slide-fade-leave-active below version 2.1.8 */
    {
        transform: translateY(-10px);
        opacity: 0;
    }
</style>
