<template>
    <form-text
            ref="input"
            :name="name"
            :value="value"
            @input="updateValue($event)"
            :tooltip="tooltip"
            :tooltip-required="tooltipRequired"
            :error="error"
            :required="required"
            :readonly="readonly"
            :label-size="labelSize"
            @blur="$emit('blur', $event)"
            @focus="$emit('focus', $event)"
            @invalid="invalid"
            @change="$emit('change', $event)"
            :pattern="pattern"
            :mask="mask">
        <slot></slot>
    </form-text>
</template>
<script>
    export default {
        props: {
            name: {
                type: String,
                required: true,
            },
            value: [String, Number],
            tooltip: {
                type: String,
                required: false,
                default: ''
            },
            tooltipRequired: {
                type: Boolean,
                required: false,
                default: false
            },
            error: {
                type: Boolean,
                required: false,
                default: false
            },
            required: {
                type: Boolean,
                required: false,
                default: false
            },
            readonly: {
                type: Boolean,
                required: false,
                default: false
            },
            labelSize: {
                type: [String, Number],
                required: false,
                default: 5
            },
            foreign: {
                type: Boolean,
                required: false,
                default: false
            }
        },
        computed: {
            pattern() {
                return this.foreign ? '^[0-9a-zA-Z\- ]{1,10}$' : '^[0-9]{2}-[0-9]{3}$';
            },
            mask() {
                return this.foreign ? 'XZZZZZZZZZ' : '##-###';
            }
        },
        data() {
            return {
                isValid: !this.error,
            }
        },
        mounted() {
            $(this.$el).find('div.input-group').removeClass().addClass('input-group col-lg-3 col-md-3 col-sm-3 col-xs-6');
        },
        methods: {
            /**
             * Walidacja html na polu
             */
            validate() {
                this.isValid = true;
                this.$refs.input.validate()
            },
            /**
             * Aktualizacja wartości pola
             *
             * @param <String> value
             */
            updateValue(value) {
                this.$emit('input', value)
            },
            /**
             * Metoda wywołana na zdarzenie html invalid
             *
             * @param <Object> event
             */
            invalid(event) {
                this.isValid = false;
                this.$emit('invalid', event);
            },
        }
    }
</script>
