<template>

    <div>
        <div class="form-group">
            <div class="col-xs-offset-5 text-left">
                <button type="button" class="btn btn-default" @click="acquireImage()">Wybierz urządzenie</button>
                <span class="name-device">{{ selectedDevice }}</span>
            </div>
        </div>

        <div class="div-alone-bottom" ref="scannerBg">
            <div v-show="!isSelectedDevice()" class="scannerIMG">
                <span class="text-center">Moduł skanowania</span>
            </div>
            <div v-show="isSelectedDevice()">
                <div id="dwtControlContainer"></div>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-6">
                <div class="form-group scan pagination-box">
                    <ul class="pagination">
                        <li :class="{'inactive': isFirst()}" @click="previousScan()"></li>

                        <li v-if="DWObject.HowManyImagesInBuffer">
                            <span class="active">{{ DWObject.CurrentImageIndexInBuffer+1 }}</span>
                            <span> / </span>
                            <span>{{ DWObject.HowManyImagesInBuffer }}</span>
                        </li>
                        <li v-else>0</li>

                        <li :class="{'inactive': isLast()}" @click="nextScan()"></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group pull-right">
                    <div class="mesh-icon" data-toggle="tooltip" data-placement="top"
                         title="Wybierz sposób rozłożenia elementów" @click="showOptions('mesh')"></div>

                    <div class="trash-icon" data-toggle="tooltip" data-placement="top"
                         title="Usuwanie zeskanowanych" @click="showOptions('trash')"></div>

                    <ul v-if="showTrashOptions" class="trash">
                        <li @click="removeAllScans()">Usuń wszystkie</li>
                        <li @click="removeSelectedScans()">Usuń aktualną</li>
                    </ul>

                    <ul v-if="showMeshOptions" class="mesh" disabled="disabled">
                        <li @click="previewMode(1)">1x1</li>
                        <li @click="previewMode(2)">2x2</li>
                        <li @click="previewMode(3)">3x3</li>
                        <li @click="previewMode(4)">4x4</li>
                        <li @click="previewMode(5)">5x5</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-5 padding-zero">
                <button
                        class="btn" :class="{'btn-success': isSelectedDevice(), 'btn-default':!isSelectedDevice() }"
                        @click="scanImage()"
                        :disabled="!isSelectedDevice()"
                >Skanuj</button>
            </div>
        </div>

    </div>

</template>

<script>
    export default {
        data() {
            return {
                DWObject: false,
                selectedDevice: '',
                showTrashOptions: false,
                showMeshOptions: false
            }
        },
        created() {
            window.addEventListener('resize', this.handleResize);
        },
        mounted() {
            this.$nextTick(function () {
                Dynamsoft.WebTwainEnv.Containers = [
                    {
                        ContainerId: 'dwtControlContainer',
                        Width: this.$refs.scannerBg.clientWidth,
                        Height: this.$refs.scannerBg.clientHeight
                    }
                ];
                Dynamsoft.WebTwainEnv.Load();
            });
        },
        beforeDestroy() {
            window.removeEventListener('resize', this.handleResize);
        },
        methods: {

            /**
             * Sprawdza czy wybrano skaner i czy mozna odblokowac funcjonalnosci zwiazane z skanowaniem
             *
             * @return {Boolean}
             */
            isSelectedDevice() {
                return this.selectedDevice !== ''
            },

            /**
             * Zarzadza wyswietlaniem opcji z niewidocznych warsw
             *
             * @param {String} option Ktora warstwe z opcjami wyswietlic
             */
            showOptions(option) {
                if (!this.isSelectedDevice()) {
                    return;
                }
                if (option === 'trash') {
                    this.showMeshOptions = false;
                    this.showTrashOptions = !this.showTrashOptions;
                }
                if (option === 'mesh') {
                    this.showTrashOptions = false;
                    this.showMeshOptions = !this.showMeshOptions;
                }
            },

            /**
             * Pobiera dane o dostępnych skanerach i inicjalizuje wtyczkę.
             */
            acquireImage() {
                this.DWObject = Dynamsoft.WebTwainEnv.GetWebTwain('dwtControlContainer')
                this.DWObject.BackgroundColor = 0xededed;
                this.DWObject.IfShowProgressBar = false;
                this.previewMode(1);
                this.DWObject.SelectSource();
                this.DWObject.CloseSource();
                if (this.DWObject.OpenSource()) { //zwraca true jak jest poprawnie podłączone wybrane urządzenie
                    this.selectedDevice = this.DWObject.CurrentSourceName;
                    this.DWObject.IfShowUI = false;
                    this.DWObject.IfThrowException = false; //By nie rzucało żadnych wyjątków - ubicie głupiego komunikatu stack overflow - bezzasadnego!
                } else {
                    gnb.dialog.infoDanger({
                        message: 'Error: ' + this.DWObject.ErrorCode + ': ' + this.DWObject.ErrorString.toString()
                    });
                }

                try {
                    this.DWObject.Resolution = parseFloat('100'); //rzuca błędem przy WIA-HP Scanjet - niewiadomo jakim i dlaczego
                } catch (error) {
                }
            },

            /**
             * Wykonuje skan dokumentu
             */
            scanImage() {
                this.DWObject.AcquireImage();
                if (this.DWObject.ErrorCode !== 0) {
                    this.logger('scanImage', new Error().lineNumber);
                }
            },

            /**
             * Sposób wyświetlania zeskanowanych dokumentow
             *
             * @param {Integer} columns Liczba kolumn
             * @param {Integer} rows    Liczba wierszy
             */
            previewMode(columns, rows) {
                if (!rows) {
                    rows = columns;
                }
                this.DWObject.SetViewMode(columns, rows);
                this.showMeshOptions = false;
            },

            /**
             * Czy aktualny skan jest pierwszy
             *
             * @return {Boolean}
             */
            isFirst() {
                return this.DWObject.CurrentImageIndexInBuffer < 1;
            },

            /**
             * Czy aktualny skan jest ostatni
             *
             * @return {Boolean}
             */
            isLast() {
                return this.DWObject.CurrentImageIndexInBuffer + 1 === this.DWObject.HowManyImagesInBuffer;
            },

            /**
             * Wybiera poprzedni scan
             */
            previousScan() {
                if (!this.isFirst() && this.DWObject.HowManyImagesInBuffer) {
                    this.DWObject.CurrentImageIndexInBuffer--;
                }
            },

            /**
             * Wybiera nastepmy scan
             */
            nextScan() {
                if (!this.isLast() && this.DWObject.HowManyImagesInBuffer) {
                    this.DWObject.CurrentImageIndexInBuffer++;
                }
            },

            /**
             * Usuwa zaznaczone skany
             */
            removeSelectedScans() {
                this.showTrashOptions = false;
                if (this.DWObject.HowManyImagesInBuffer) {
                    this.DWObject.RemoveAllSelectedImages();
                }
            },

            /**
             * Usuwa wszystkie skany
             */
            removeAllScans() {
                this.showTrashOptions = false;
                if (this.DWObject.HowManyImagesInBuffer) {
                    this.DWObject.RemoveAllImages();
                }
            },

            /**
             * Automatyczna zmiana rozmiarów okna wtyczki skanera
             */
            handleResize() {
                if (this.DWObject) {
                    this.DWObject.Width = this.$refs.scannerBg.clientWidth + 'px';
                    this.DWObject.Height = this.$refs.scannerBg.clientHeight + 'px';
                }
            },

            /**
             * Upload dokumentu na serwer
             */
            uploadDocument(actionPage, fileName, isSSL) {
                if (!this.DWObject.HowManyImagesInBuffer) {
                    return false;
                }

                this.DWObject.SetCookie(document.cookie);
                this.DWObject.IfSSL = isSSL;
                if (isSSL === true) {
                    this.DWObject.HTTPPort = 443;
                }

                let result = this.DWObject.HTTPUploadAllThroughPostAsPDF(
                    location.hostname,
                    actionPage,
                    fileName
                );

                if (this.DWObject.ErrorCode !== 0) {
                    this.logger('uploadDocument', new Error().lineNumber);
                }

                return result;
            },

            /**
             * Zwraca ilość zeskanowanych dokumentów w buforze
             *
             * return {Integer}
             */
            imagesCount() {
                return this.DWObject.HowManyImagesInBuffer
            },
            /**
             * Logowanie błędów z procesu skanowania.
             *
             * @param functionName Nazwa funkcji w której błąd wystąpił.
             * @param lineNumber   Numer lini w której wystąpił błąd.
             */
            logger(functionName, lineNumber) {
                if (typeof window.SystemEnviroment === 'object') {
                    let source = location.href;
                    let system = window.SystemEnviroment.detectOS();
                    let browser = window.SystemEnviroment.detectBrowser();
                    let url = window.SystemEnviroment.getURL() + '/error/jserror';
                    let scriptName = 'Scanner.vue';

                    let message = 'DWObject Error: ' + this.DWObject.ErrorString + '(Error Code: ' + this.DWObject.ErrorCode + ')';
                    let options = {
                        i: '1',
                        sn: source,
                        os: system,
                        br: browser,
                        ln: lineNumber,
                        fl: scriptName,
                        err: message
                    };

                    axios.post(url, options);
                }
            },
        }
    }
</script>
