<template>

    <div class="form-group" :class="{'has-error': !isValid}">
        <label-form :name="name" :tooltip="tooltip" :tooltip-required="tooltipRequired" :error="error" :required="required" :label-size="labelSize">
            <slot></slot>
        </label-form>
        <div ref="dropdown" :class="selectClasses">
            <input v-show="false" type="text" :name="name" :value="value" :required="required" :readonly="readonly">
            <button ref="dropdownBtn" type="button" class="btn dropdown btn-default" data-toggle="dropdown" :disabled="readonly">
                <span class="filter-option pull-left" :class="{'text-grey': value === ''}" v-html="getName(value)"></span>&nbsp;
                <span class="bs-caret">
                    <span class="caret"></span>
                </span>
            </button>
            <div ref="dropdownMenu" class="dropdown-menu open">
                <div v-if="liveSearch || optionsLength >= recordsLengthToLiveSearch" class="vue-searchbox">
                    <input ref="search" class="form-control" autocomplete="off" role="textbox" aria-label="Search" type="text" v-model="internalQuery">
                </div>
                <ul class="dropdown-menu inner">
                    <li v-for="row in rows" v-if="row.value === ''">
                        <a @click="updateValue(row.value)">
                            <span class="text text-grey" v-html="row.name"></span>
                        </a>
                    </li>
                    <li v-else :class="{'selected show-tick active': isSelected(row.value)}">
                        <a @click="updateValue(row.value)">
                            <span class="text" v-html="row.name"></span>
                            <span class="glyphicon glyphicon-ok check-mark"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</template>

<script>
    import LabelForm from './Label'

    export default {
        components: {
            LabelForm
        },
        props: {
            name: {
                type: String,
                required: true,
            },
            options: {
                type: [Object, Array],
                required: true
            },
            value: [Array, String, Number],
            tooltip: {
                type: String,
                required: false,
                default: ''
            },
            tooltipRequired: {
                type: Boolean,
                required: false,
                default: false
            },
            error: {
                type: Boolean,
                required: false,
                default: false
            },
            required: {
                type: Boolean,
                required: false,
                default: false
            },
            readonly: {
                type: Boolean,
                required: false,
                default: false
            },
            labelSize: {
                type: [String, Number],
                required: false,
                default: 5
            },
            inputSize: {
                type: [String, Number],
                required: false,
                default: 7
            },
            liveSearch: {
                type: Boolean,
                required: false,
                default: false
            },
            query: {
                type: [String, Number],
                required: false,
                default: ''
            },
            multiple: {
                type: Boolean,
                required: false,
                default: false
            },
        },
        computed: {
            selectClasses() {
                let response = [];
                response.push('vue-select');
                response.push('input-group');
                response.push('col-xs-12');
                response.push('col-sm-' + this.inputSize);
                response.push('col-md-' + this.inputSize);
                response.push('col-lg-' + this.inputSize);
                return response;
            },
            optionsLength() {
                return _.size(this.options)
            },
            rows() {
                let that = this, options = [];

                if (!this.multiple) {

                    options = [{
                        value: '',
                        name: '&mdash; wybierz &mdash;',
                    }];
                }

                for (let index in that.options) {

                    if (Array.isArray(that.options)) {
                        options.push(that.options[index]);
                    } else {
                        options.push({
                            value: index,
                            name: that.options[index],
                        });
                    }
                }

                if (that.internalQuery !== '') {
                    options = _.filter(options, function (option) {
                        return _.includes(_.toLower(option.name), _.toLower(that.internalQuery));
                    });
                }

                if (!_.isObject(_.find(options, {'value': that.value})) && !this.multiple) {
                    that.updateValue('');
                }

                return options;
            }
        },
        data() {
            return {
                firstValidation: true,
                isValid: !this.error,
                internalQuery: this.query,
                recordsLengthToLiveSearch: 10,
                showList: false,
            }
        },
        mounted() {
            let that = this;
            $(that.$refs.dropdown)
                .on('shown.bs.dropdown', function () {
                    // calculate the required sizes, spaces
                    let menu = $(that.$refs.dropdownMenu);
                    let button = $(that.$refs.dropdownBtn);
                    let offset = menu.offset();
                    // how much space would be left on the top if the dropdown opened that direction
                    let spaceUp = (offset.top - button.height() - menu.height()) - $(window).scrollTop();
                    // how much space is left at the bottom
                    let spaceDown = $(window).scrollTop() + ($(window).height() - 40) - (offset.top + menu.height());//40 to wysokosc stopki
                    // switch to dropup only if there is no space at the bottom AND there is space at the top, or there isn't either but it would be still better fit
                    if (spaceDown < 0 && (spaceUp >= 0 || spaceUp > spaceDown)) {
                        $(this).addClass("dropup");
                    }
                    if (that.multiple) {
                        that.showList = true;
                    }
                    that.focus();
                })
                .on('hidden.bs.dropdown', function () {
                    // always reset after close
                    $(this).removeClass("dropup");
                    that.blur();
                })
                .on('hide.bs.dropdown', function (e) {
                    //event uruchamiany gdy okno ma być zamknięte
                    if (that.multiple && that.showList) {
                        e.preventDefault();
                    }
                });

            if (that.multiple) {
                $(that.$refs.dropdownBtn).on('click', function () {
                    that.showList = false;
                });

                $(that.$refs.dropdownBtn).on('mouseleave', function () {
                    that.showList = false;
                });

                $(that.$refs.dropdownMenu).on('mouseleave', function () {
                    that.showList = false;
                });

                $(that.$refs.dropdownMenu).on('mouseenter', function () {
                    that.showList = true;
                });
            }
        },
        methods: {
            /**
             * Walidacja html na polu
             */
            validate() {
                if (!this.firstValidation) {
                    if (this.required && (this.value === '' || this.value.length <= 0)) {
                        this.isValid = false;
                    } else {
                        this.isValid = true;
                    }
                }
                this.firstValidation = false;
            },
            /**
             * Aktualizacja wartości pola
             *
             * @param <Object> value
             */
            updateValue(value) {
                if (!this.multiple) {
                    this.$emit('input', value);
                    return;
                }

                if ((this.value === null || this.value.length === 0) && Array.isArray(this.value)) {
                    this.value.push(value);
                    this.$emit('input', this.value);
                    return;
                }

                if (this.value.indexOf(value) >= 0) {
                    this.value.splice(this.value.indexOf(value), 1);
                } else {
                    this.value.push(value);
                }

                this.$emit('input', this.value);
                return;
            },
            /**
             * Zwaca label dla wartości
             *
             * @param <mixed> value
             *
             * @return <String>
             */
            getName(value) {
                if (!this.multiple) {
                    let obj = _.find(this.rows, {'value': value});
                    return obj ? obj.name : '';
                }

                let that = this;
                let name = '';
                let i = 0;

                if (value.length <= 0) {
                    return '&mdash; wybierz &mdash;';
                }

                value.forEach(function (val) {
                    if (i != 0) {
                        name += ", ";
                    }
                    name += Array.isArray(that.options) ? _.find(that.options, {'value': val}).name : that.options[val];
                    i++;
                });

                return name;
            },
            /**
             * Sprawdza czy wartość jest w tablicy wybranych elementów
             *
             * @param <mixed> value
             *
             * @return <Boolean>
             */
            isSelected(value) {
                if (!this.multiple) {
                    return this.value === value;
                }

                if (this.value === null) {
                    return false;
                }

                return this.value.indexOf(value) >= 0;
            },
            /**
             * Metoda wywołana na rozwinicie selecta
             * Dodatkowo nakłada event focus na wyszukiwarke
             */
            focus() {
                this.isValid = true;
                if (this.liveSearch || this.optionsLength >= this.recordsLengthToLiveSearch) {
                    this.$nextTick(function () {
                        this.$refs.search.focus();
                    });
                }
                this.$emit('focus');
            },
            /**
             * Metoda wywołana na zwiniecie selecta
             */
            blur() {
                this.$emit('blur');
                this.validate();
            },
        },
        watch: {
            internalQuery() {
                this.$emit('update:query', this.internalQuery);
            },
            query() {
                this.internalQuery = this.query;
            },
            value() {
                this.validate();
            }
        }
    }
</script>
