<template>
    <div class="form-group" :class="{'has-error': error}">
        <label-form :name="name" :tooltip="tooltip" :tooltip-required="tooltipRequired" :error="error" :required="required" :label-size="labelSize">
            <slot></slot>
        </label-form>
        <div :class="inputGroupClasses">
            <div class="switch-btn" @click="updateValue(!value)">
                <input ref="input" type="hidden" :name="name" :value="value">
                <span class="slider-switch round" :class="{'yes': value, 'no': !value}" :disabled="readonly">
                    <span class="toggle-switch"></span>
                    <span class="text-label">
                        <slot v-if="value" name="yes">Tak</slot>
                        <slot v-else name="no">Nie</slot>
                    </span>
                </span>
            </div>
        </div>
    </div>
</template>

<script>
    import LabelForm from './Label'

    export default {
        components: {
            LabelForm
        },
        props: {
            name: {
                type: String,
                required: true,
            },
            value: [Boolean],
            tooltip: {
                type: String,
                required: false,
                default: ''
            },
            tooltipRequired: {
                type: Boolean,
                required: false,
                default: false
            },
            error: {
                type: Boolean,
                required: false,
                default: false
            },
            required: {
                type: Boolean,
                required: false,
                default: false
            },
            readonly: {
                type: Boolean,
                required: false,
                default: false
            },
            labelSize: {
                type: [String, Number],
                required: false,
                default: 5
            },
            inputSize: {
                type: [String, Number],
                required: false,
                default: 7
            },
        },
        computed: {
            /**
             * Metoda zwraca tablicę class css dla tagu div.input-group
             *
             * @return <Array>
             */
            inputGroupClasses() {
                let response = [];
                response.push('input-group');
                response.push('col-xs-12');
                response.push('col-sm-' + this.inputSize);
                response.push('col-md-' + this.inputSize);
                response.push('col-lg-' + this.inputSize);

                if (this.icon !== '') {
                    response.push('InputIconGroup');
                }
                return response;
            }
        },
        methods: {
            /**
             * Metoda wywołuje event informujący o aktualizacji value dla v-modelu
             *
             * @param {Boolean} value Wartość v-modelu
             */
            updateValue(value) {
                if (!this.readonly) {
                    this.$emit('input', value)
                }
            },
        }
    }
</script>
