<template>
    <div class="form-group" :class="{'has-error': !isValid}">
        <label-form :name="name" :tooltip="tooltip" :tooltip-required="tooltipRequired" :error="error" :required="required" :label-size="labelSize">
            <slot></slot>
        </label-form>
        <div :class="inputGroupClasses">
            <icon-form :icon="icon"></icon-form>
            <input v-if="vMask"
                   key="text1"
                   ref="input"
                   type="text"
                   :name="name"
                   v-mask="vMask"
                   :pattern="pattern"
                   class="form-control" :class="{'readonly': readonly}"
                   :readonly="readonly"
                   :required="required"
                   :value="value"
                   @input="updateValue"
                   @blur="blur"
                   @focus="focus"
                   @invalid="invalid"
                   @change="$emit('change', $event)"
                   autocomplete="off">
            <input v-else
                   key="text2"
                   ref="input"
                   type="text"
                   :name="name"
                   :pattern="pattern"
                   class="form-control" :class="{'readonly': readonly}"
                   :readonly="readonly"
                   :required="required"
                   :value="value"
                   @input="updateValue"
                   @blur="blur"
                   @focus="focus"
                   @invalid="invalid"
                   @change="$emit('change', $event)"
                   autocomplete="off">
        </div>
    </div>
</template>

<script>
    import LabelForm from './Label'
    import IconForm from './Icon'

    export default {
        components: {
            LabelForm, IconForm
        },
        props: {
            name: {
                type: String,
                required: true,
            },
            value: [String, Number],
            tooltip: {
                type: String,
                required: false,
                default: ''
            },
            tooltipRequired: {
                type: Boolean,
                required: false,
                default: false
            },
            error: {
                type: Boolean,
                required: false,
                default: false
            },
            required: {
                type: Boolean,
                required: false,
                default: false
            },
            readonly: {
                type: Boolean,
                required: false,
                default: false
            },
            labelSize: {
                type: [String, Number],
                required: false,
                default: 5
            },
            inputSize: {
                type: [String, Number],
                required: false,
                default: 7
            },
            mask: {
                type: String,
                required: false,
                default: ''
            },
            pattern: {
                type: String,
                required: false
            },
            icon: {
                type: String,
                required: false,
                default: ''
            }
        },
        computed: {
            /**
             * Metoda zwraca tablicę class css dla tagu div.input-group
             *
             * @return <Array>
             */
            inputGroupClasses() {
                let response = [];
                response.push('input-group');
                response.push('col-xs-12');
                response.push('col-sm-' + this.inputSize);
                response.push('col-md-' + this.inputSize);
                response.push('col-lg-' + this.inputSize);

                if (this.icon !== '') {
                    response.push('InputIconGroup');
                }
                return response;
            },
            /**
             * Zwraca obiekt vue-the-mask lub false
             *
             * @return <Object>
             */
            vMask() {
                if (this.mask) {
                    return {
                        mask: this.mask,
                        tokens: {
                            '#': {pattern: /\d/},
                            'X': {pattern: /[0-9a-zA-ZżźćńółęąśŻŹĆĄŚĘŁÓŃ]/},
                            'S': {pattern: /[a-zA-ZżźćńółęąśŻŹĆĄŚĘŁÓŃ]/},
                            'A': {pattern: /[a-zA-ZżźćńółęąśŻŹĆĄŚĘŁÓŃ]/, transform: v => v.toLocaleUpperCase()},
                            'a': {pattern: /[a-zA-ZżźćńółęąśŻŹĆĄŚĘŁÓŃ]/, transform: v => v.toLocaleLowerCase()},
                            'N': {pattern: /[a-zA-ZżźćńółęąśŻŹĆĄŚĘŁÓŃ'\- ]/}, //Name - litera, spacja, myślnik, apostrof.
                            'Z': {pattern: /[0-9a-zA-ZżźćńółęąśŻŹĆĄŚĘŁÓŃ\- ]/} //Zip - cyfra, litera, spacja, myślnik
                        }
                    }
                }
                return false;
            }
        },
        data() {
            return {
                isValid: !this.error,
            }
        },
        methods: {
            /**
             * Walidacja html na polu
             */
            validate() {
                this.isValid = true;
                this.$refs.input.checkValidity();
            },
            /**
             * Aktualizacja wartości pola
             *
             * @param <Object> event
             */
            updateValue(event) {
                this.$emit('input', event.target.value);
            },
            /**
             * Metoda wywołana na zdarzenie html focus
             *
             * @param <Object> event
             */
            focus(event) {
                this.isValid = true;
                this.$emit('focus', event);
            },
            /**
             * Metoda wywołana na zdarzenie html blur
             *
             * @param <Object> event
             */
            blur(event) {
                this.$emit('blur', event);
                this.validate();
            },
            /**
             * Metoda wywołana na zdarzenie html invalid
             *
             * @param <Object> event
             */
            invalid(event) {
                this.isValid = false;
                this.$emit('invalid', event);
            },
        },
        watch: {
            /**
             * Nasłuch na zmianę propsa error
             */
            error() {
                this.isValid = !this.error;
            }
        }
    }
</script>
