<template>

    <form method="post">

        <email-control v-model="form.email" :status.sync="status" :error="error"></email-control>

        <div class="is-divider" data-content="wykonaj akcję"></div>

        <button type="submit" class="button is-info is-fullwidth" :disabled="!formReadyToSend">
            <span class="icon"><i class="fa fa-sign-in"></i></span>
            <span>Wyślij link resetujący</span>
        </button>

    </form>

</template>

<script>

    import FormAbstract from '../components/forms/Abstract.vue'

    export default FormAbstract.extend({
        props: {
            email: String,
            error: String,
        },
        data() {
            return {
                status: 'normal',
                form: {
                    email: this.email,
                }
            }
        },
        watch: {
            'status': function() {
                if(this.status == 'success'){
                    this.formReadyToSend = true;
                }else{
                    this.formReadyToSend = false;
                }
            }
        }
    })

</script>