<template>
    <form id="login-form" name="login-form" method="post">
        <slot></slot>

        <email-control v-model="form.email" :status.sync="emailStatus" :error="emailError">{{ emailLabel }}</email-control>

        <password-control v-model="form.password" :status.sync="passwordStatus" :error="passwordError">{{ passwordLabel }}</password-control>

        <button type="submit" class="button is-info is-fullwidth" :disabled="!formReadyToSend">
            <span class="icon"><i class="fa fa-sign-in"></i></span>
            <span>{{ label }}</span>
        </button>

    </form>
</template>

<script>

    import FormAbstract from '../components/forms/Abstract.vue'

    export default FormAbstract.extend({
        props: {
            email: String,
            emailLabel: String,
            emailError: String,
            password: String,
            passwordLabel: String,
            passwordError: String,
            label: String,
        },
        data() {
            return {
                emailStatus: 'normal',
                passwordStatus: 'normal',
                form: {
                    email: this.email,
                    password: this.password
                }
            }
        },
        methods: {
            checkFormSend: function() {
                if(this.emailStatus == 'success' && this.passwordStatus == 'success'){
                    this.formReadyToSend = true;
                }else{
                    this.formReadyToSend = false;
                }
            }
        },
        watch: {
            'emailStatus': function() {
                this.checkFormSend();
            },
            'passwordStatus': function() {
                this.checkFormSend();
            }
        }
    })
</script>