<template>

    <form name="logout-form" method="post">
        <slot></slot>
        <button type="submit" class="button">
            <fa-icon name="sign-out"></fa-icon>
            <span>{{ label }}</span>
        </button>
    </form>

</template>


<script>

    export default {
        props: {
            label: String
        }
    }


</script>