<template>
    <form id="register-form" name="register-form" method="post">
        <slot></slot>

        <name-control v-model="form.name" :status.sync="nameStatus" :error="nameError"></name-control>

        <email-control v-model="form.email" :status.sync="emailStatus" :error="emailError"></email-control>

        <password-control v-model="form.password" :status.sync="passwordStatus" :error="passwordError"></password-control>

        <password-control v-model="form.password2" :status.sync="password2Status" :template="form.password" name="password_confirmation" placeholder="Powtórz hasło do konta">Powtórz hasło</password-control>

        <div class="field tooltip is-tooltip-multiline" data-tooltip="Przez zaznaczenie, oświadczasz że zapoznałeś się z treścią regulaminu i ją akceptujesz.">
            <input class="is-checkbox has-background-color is-primary" id="acceptedRegulations" type="checkbox" name="acceptedRegulations" v-model="regulationChecked">
            <label for="acceptedRegulations">akceptuję <a :href="regulationsAction">regulamin</a></label>
        </div>

        <div class="is-divider" data-content="wykonaj akcję"></div>

        <button type="submit" class="button is-info is-fullwidth" :disabled="!formReadyToSend">
            <span class="icon"><i class="fa fa-sign-in"></i></span>
            <span>Zarejestruj się</span>
        </button>

    </form>
</template>

<script>

    import FormAbstract from '../components/forms/Abstract.vue'

    export default FormAbstract.extend({
        props: {
            name: String,
            nameError: String,
            email: String,
            emailError: String,
            password: String,
            passwordError: String,
            regulationsAction: String,
        },
        data() {
            return {
                nameStatus: 'normal',
                emailStatus: 'normal',
                passwordStatus: 'normal',
                password2Status: 'normal',
                regulationChecked: false,
                form: {
                    name: this.name,
                    email: this.email,
                    password: this.password,
                    password2: ''
                }
            }
        },
        methods: {
            checkFormSend: function() {
                if(this.nameStatus == 'success'
                    && this.emailStatus == 'success'
                    && this.passwordStatus == 'success'
                    && this.password2Status == 'success'
                    && this.regulationChecked
                ){
                    this.formReadyToSend = true;
                }else{
                    this.formReadyToSend = false;
                }
            }
        },
        watch: {
            'nameStatus': function() {
                this.checkFormSend();
            },
            'emailStatus': function() {
                this.checkFormSend();
            },
            'passwordStatus': function() {
                this.checkFormSend();
            },
            'password2Status': function() {
                this.checkFormSend();
            },
            'regulationChecked': function() {
                this.checkFormSend();
            }
        }
    })
</script>