<template>

    <div>
        <div class="field">
            <a href="#" class="button is-info is-fullwidth">
                <span class="icon"><i class="fa fa-facebook"></i></span>
                <span>{{ command }} się przez Facebook</span>
            </a>
        </div>
        <div class="field">
            <a href="#" class="button bd-tw-button is-fullwidth">
                <span class="icon"><i class="fa fa-twitter"></i></span>
                <span>{{ command }} się przez Twitter</span>
            </a>
        </div>
        <div class="field">
            <a href="#" class="button bd-google-button is-fullwidth">
                <span class="icon"><i class="fa fa-google-plus"></i></span>
                <span>{{ command }} się przez Google</span>
            </a>
        </div>
    </div>

</template>

<script>

    export default {
        props: {
            isLogin: {
                type: Boolean,
                default: true,
            }
        },
        data() {
            return {
                command: this.isLogin ? 'Zaloguj' : 'Zarejestruj'
            }
        }
    }

</script>