<template>

    <td ref="cell" class="last table-header-body text-center">
        <button v-for="(action, index) in row.actions" @click.stop="$parent.$emit(index, row)" :class="actionClass(action)" :disabled="action.disabled">
            {{ action.title }}
        </button>
    </td>

</template>

<script>
    export default {
        props: {
            row: {
                type: Object,
                required: true
            }
        },
        methods: {
            /**
             * Zwraca tablice klas css dla przycisku
             *
             * @param {string} color
             *
             * @return {string[]}
             */
            actionClass(action) {
                return [
                    'btn',
                    'label',
                    'label-' + action.color
                ];
            }
        }
    }
</script>
