<template>
    <div ref="divTable" class="simple-table-wrapper">
        <div ref="scroller" class="simple-table-scroller" :style="divScrollerStyle">
            <table class="table simple-table mb-0" >

                <table-head
                        ref="head"
                        v-if="!noHead"
                        :columns="columns"
                        :data-length="rows.length"
                        :direction.sync="direction"
                        :sorted-by.sync="sortedBy"
                        :actions="actions"
                        :checkboxes="checkboxes"
                        @checked="checkedAll"
                        @unchecked="uncheckedAll"
                        @make-sort="emitMakeSort">
                    <template v-for="column in columns" :slot="'cell-header-'+column.index">
                        <slot :name="'cell-header-'+column.index" :column="column">
                            <span>{{ column.label }}</span>
                        </slot>
                    </template>
                </table-head>

                <tbody>
                <tr v-for="(row, rowIndex) in rows"
                    ref="row"
                    :class="trClass(row)"
                    :key="rowIndex"
                    @click="$emit('row-clicked', row)"
                    @mouseover="coloredRow(row)"
                    @mouseout="uncoloredRow(row)">

                    <checkbox-wrapper v-if="checkboxes" :show="row.$checkbox!==false">
                        <input type="checkbox" v-model="row.$checked" @change="checkboxChange(row)">
                    </checkbox-wrapper>

                    <td v-for="(cell, columnIndex) in columns" :class="tdClass(columnIndex)">
                        <slot :name="slotName(cell.index)" :row="row">
                            {{ row[cell.index] }}
                        </slot>
                    </td>

                    <actions ref="actionCell" v-if="actions" :class="actionClass(row)" :row="row"></actions>
                </tr>

                <no-data v-if="!rows.length" :headers="headers" :actions="actions">
                    <slot></slot>
                </no-data>
                </tbody>
            </table>
        </div>
        <pagination :pages-count="totalPages" :page.sync="currentPage" :range="4" :block="blockPagination" class="hidden-xs hidden-sm"></pagination>
        <pagination :pages-count="totalPages" :page.sync="currentPage" :range="2" :block="blockPagination" class="hidden-md hidden-lg"></pagination>
    </div>
</template>

<script>
    import TableHead from './Head'
    import Pagination from './Pagination'
    import NoData from './NoData'
    import Actions from './Actions'
    import CheckboxWrapper from './CheckboxWrapper'

    export default {
        components: {
            TableHead, Pagination, NoData, Actions, CheckboxWrapper
        },
        props: {
            headers: {
                type: Object,
                required: true
            },
            src: {
                type: String,
                required: true
            },
            sort: {
                type: String,
                required: false,
                default: ''
            },
            dir: {
                type: String,
                required: false,
                default: ''
            },
            actions: {
                type: Boolean,
                default: false
            },
            checkboxes: {
                type: Boolean,
                default: false
            },
            page: {
                type: [String, Number],
                required: false,
                default: '1'
            },
            perPage: {
                type: [String, Number],
                required: false,
            },
            noHead: {
                type: Boolean,
                default: false
            },
            noColored: {
                type: Boolean,
                default: false
            },
            filters: {
                type: [Object, Boolean],
                required: false,
                default: false
            },
            selectedClass: {
                type: String,
                required: false,
                default: 'success'
            },
        },
        computed: {
            /**
             * Automatyczne przelicznie dlugości scrollbara  i wyłączenie tego jeśli brak danych
             */
            divScrollerStyle(){
                return this.rows.length ? 'width:calc(100% - ' + this.scrollerWidth + ');' : false;
            }
        },
        data() {
            let columns = [];
            for (let index in this.headers) {
                let obj = this.headers[index];
                obj.index = index;
                columns.push(obj);
            }
            return {
                columns: columns,
                rows: [],
                currentPage: parseInt(this.page),
                totalPages: 1,
                sortedBy: this.sort,
                direction: this.dir,
                blockPagination: false,
                scrollerWidth: ''
            }
        },
        created() {
            window.addEventListener('resize', this.handleResize);
        },
        beforeDestroy() {
            window.removeEventListener('resize', this.handleResize);
        },
        mounted() {
            this.getData(this.currentPage);
        },
        methods: {
            /**
             * Event zmiany rozmiaru okna
             */
            handleResize() {
                if (this.actions) {
                    for (let i in this.$refs.row) {
                        let tr = this.$refs.row[i];
                        let tdAction = this.$refs.row[i].lastChild;
                        if (tr.clientHeight && tdAction.clientHeight) {
                            tr.style = 'auto';
                            tdAction.style = 'auto';
                            if (tr.clientHeight > tdAction.clientHeight) {
                                tdAction.style = tr.style = 'height: ' + (tr.clientHeight+1) + 'px';
                            } else {
                                tr.style = tdAction.style = 'height: ' + (tdAction.clientHeight+1) + 'px';
                            }
                        }
                    }
                    this.scrollerWidth = this.$refs.head.$refs.actions.clientWidth + 'px';
                }
            },
            /**
             * Metoda pobiera dane z serwera i zasila nimi komponent
             *
             * @param {Number} page Numer strony, jesli nie podamy to zapytanie zostanie wysłane po 1 stronę
             */
            getData(page) {
                let that = this;
                page = page || 1;
                $(that.$refs.divTable).startLoader();
                that.blockPagination = true;
                let params = {
                    page: page,
                    perPage: that.perPage,
                    sort: that.sortedBy,
                    dir: that.direction
                };
                if (that.filters) {
                    params.filters = that.filters
                }

                axios.get(that.src, {
                    params: params
                }).then(response => {
                    that.rows = response.data.rows;
                    that.currentPage = response.data.page <= response.data.pages ? parseInt(response.data.page) : 1;
                    that.totalPages = parseInt(response.data.pages);
                    that.total = response.data.pages;
                    $(that.$refs.divTable).stopLoader();
                    that.blockPagination = false;
                    that.$refs.head.uncheckCheckbox();
                }).catch(error => {
                    that.rows = [];
                    $(that.$refs.divTable).stopLoader();
                    that.blockPagination = false;
                    that.$refs.head.uncheckCheckbox();
                })
            },
            /**
             * Klasy css dla wiersza
             *
             * @param {Object} row Obiekt danych dla wiersza
             *
             * @return {Array}
             */
            trClass(row) {
                let classes = [];
                if (row.$selected) {
                    classes.push('selected-' + this.selectedClass);
                } else if (!this.noColored && row.$mouseover) {
                    classes.push('over');
                }
                return classes;
            },
            /**
             * Klasy css dla komórki akcji, póki co oparte na klasach z wiersza
             *
             * @param {Object} row Obiekt danych dla wiersza
             *
             * @return {Array}
             */
            actionClass(row) {
                return this.trClass(row);
            },
            /**
             * Podświetla rekord przez ustawienie flagi $mousover na true
             *
             * @param {Object} row Obiekt danych wiersza
             */
            coloredRow(row) {
                row.$mouseover = true;
                this.$forceUpdate();
            },
            /**
             * Wyłącza podświetlanie rekordu przez ustawienie flagi $mousover na false
             *
             * @param {Object} row Obiekt danych wiersza
             */
            uncoloredRow(row) {
                row.$mouseover = false;
                this.$forceUpdate();
            },
            /**
             * Klasy css dla komórki
             *
             * @param {String} index Nazwa kolumny
             *
             * @return {Array}
             */
            tdClass(index) {
                let classes = ['table-body-cell'];

                /**
                 * Wysrodkowanie kolumny
                 */
                if (this.columns[index].align === 'center') {
                    classes.push('text-center');
                } else if (this.columns[index].align === 'right') {
                    classes.push('text-right');
                }
                /**
                 * Nowrap kolumny
                 */
                if (this.columns[index].nowrap) {
                    classes.push('nowrap');
                }

                return classes;
            },
            /**
             * Każda komórak moze posiada wlasny ScopedSlot
             * Pobranie nazwy takiego slotu
             *
             * @param {String} key Nazwa kolumny
             *
             * @return {String}
             */
            slotName(key) {
                return 'cell-' + key;
            },
            /**
             * Zaznaczenie wszystkich checkboxow dostępnych w obiekcie rows
             * tylko na bieżącej stronie paginatora
             */
            checkedAll() {
                for (let index in this.rows) {
                    if (this.data[index].$checkbox !== false) {
                        this.data[index].$checked = true;
                    }
                }
                this.$forceUpdate();
                this.$emit('checked-all');
            },
            /**
             * Odznaczenie wszystkich checkboxow dostępnych w obiekcie rows
             * wyłączając pozostałe strony
             */
            uncheckedAll() {
                for (let index in this.rows) {
                    this.rows[index].$checked = false;
                }
                this.$forceUpdate();
                this.$emit('unchecked-all');
            },
            /**
             * Wysłanie eventu do komponentów nadrzędnych,
             * informującego o zmianie stanu zaznaczenia checkboxa
             * wraz z wierszem dla którego zmienił się status
             *
             * @param <Object> row
             */
            checkboxChange(row) {
                this.$nextTick(function () {
                    if (row.$checked) {
                        this.$emit('checked', row);
                    } else {
                        this.$refs.head.uncheckCheckbox();
                        this.$emit('unchecked', row);
                    }
                })
            },
            /**
             * Zaznacza rekord przez ustawienie flagi $selected na true
             *
             * @param {Object} row Obiekt danych wiersza
             */
            selectRow(row) {
                row.$selected = true;
                this.$forceUpdate();
            },
            /**
             * Odznacza rekord przez ustawienie flagi $selected na false
             *
             * @param {Object} row Obiekt danych wiersza
             */
            unselectRow(row) {
                row.$selected = false;
                this.$forceUpdate();
            },
            /**
             * Emituje informacje o sortowaniu
             *
             * @param {String} direction Nazwa kolumny
             * @param {String} sortedBy  Kierunek sortowania
             */
            emitMakeSort(direction, sortedBy) {
                this.currentPage === 1 ? getData(this.currentPage) : this.currentPage = 1;
                this.$emit('sorting', direction, sortedBy);
            }
        },
        watch: {
            currentPage(newVal) {
                this.getData(newVal);
            },
            rows() {
                this.$nextTick(() => {
                    this.handleResize();
                })
            }
        },
    }
</script>
