<template>
    <th v-if="head" class="table-header-cell">
        <div class="checkbox-input">
            <div class="input-group">
                <label class="checkbox-box">
                    <slot></slot>
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>
    </th>
    <td v-else class="table-body-cell" @click.stop>
        <div v-if="show" class="checkbox-input">
            <div class="input-group">
                <label class="checkbox-box">
                    <slot></slot>
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>
    </td>
</template>

<script>
    export default {
        props: {
            head: {
                type: Boolean,
                default: false
            },
            show: {
                type: Boolean,
                default: true
            },
        },
    }
</script>
