<template>

    <thead class="table-header">
    <tr ref="header" :style="'height:' + cellHeight">
        <checkbox-wrapper v-if="checkboxes" head>
            <input type="checkbox" v-model="checkboxValue" @change="checkboxChange" :disabled="dataLength<1">
        </checkbox-wrapper>

        <th v-for="(column, columnIndex) in columns" v-if="column.hidden !== true" @click="sorting(columnIndex)" :class="thClass(columnIndex)">
            <slot :name="slotName(column.index)" :column="column">
                <span>{{ column.label }}</span>
            </slot>
        </th>

        <th v-if="actions" ref="actions" class="last-th table-header-cell text-center nosort" :style="'height:' + cellHeight">
            <span>Akcje</span>
        </th>
    </tr>
    </thead>

</template>

<script>
    import CheckboxWrapper from './CheckboxWrapper'

    export default {
        components: {
            CheckboxWrapper
        },
        props: {
            /**
             * @var array[{
             *     label   string  Tytuł kolumny
             *     align   string  Kierunek wyrównania (left, right, center), default left
             *     sorting boolean Czy kolumna ma miec sortowanie, default true
             *     hidden  boolean Czy kolumna ma byc widoczna
             *     nowrap  boolean Czy kolumna ma byc bez załamania tekstu
             * }]
             */
            columns: {
                type: Array,
                required: true
            },
            dataLength: {
                type: Number,
                required: true
            },
            sortedBy: {
                type: String,
                required: true
            },
            direction: {
                type: String,
                required: true
            },
            actions: {
                type: Boolean,
                default: false
            },
            checkboxes: {
                type: Boolean,
                default: false
            },
        },
        data() {
            return {
                checkboxValue: false,
                cellHeight: '43px'
            }
        },
        methods: {
            /**
             * Sprawdza czy kolumna ma wyłączone sortowanie
             * domyslnie brak definicji w headerze traktowany jest jako wlaczenia sortowania
             *
             * @param {String} index Nazwa kolumny
             *
             * @return {Boolean}
             */
            isSorting(index) {
                return !(_.isBoolean(this.columns[index].sorting) && this.columns[index].sorting === false);
            },
            /**
             * Sortowanie po zadanej kolumnie
             *
             * @param {String} index Nazwa kolumny
             */
            sorting(index) {
                if (this.dataLength > 1 && this.isSorting(index)) {
                    if (this.sortedBy === this.columns[index].index) {
                        this.$emit('update:direction', this.direction === 'asc' ? 'desc' : 'asc');
                    } else {
                        this.$emit('update:direction', 'asc');
                        this.$emit('update:sortedBy', this.columns[index].index);
                    }
                    this.$emit('make-sort', this.columns[index].index, this.direction === 'asc' ? 'desc' : 'asc');
                }
            },
            /**
             * Klasy naglowka
             *
             * @param {String} index Nazwa kolumny
             *
             * @return {Array}
             */
            thClass(index) {
                let classes = ['table-header-cell'];
                /**
                 * Oznaczenie posortowanej kolumny w naglowku
                 */
                if (this.dataLength <= 1 || !this.isSorting(index)) {
                    classes.push('nosort');
                } else if (this.sortedBy === this.columns[index].index) {
                    classes.push('sorting-' + this.direction);
                } else {
                    classes.push('sort');
                }
                /**
                 * Wysrodkowanie kolumny
                 */
                if (this.columns[index].align === 'center') {
                    classes.push('text-center');
                } else if (this.columns[index].align === 'right') {
                    classes.push('text-right');
                }
                /**
                 * Nowrap kolumny
                 */
                classes.push('nowrap');

                return classes;
            },
            /**
             * Odznacza checkbox w nagłówku bez wywołania emita
             * metoda wykorzystywana w komponentach nadrzędnych
             */
            uncheckCheckbox() {
                this.checkboxValue = false;
            },
            /**
             * Wysłanie eventu do komponentów nadrzędnych,
             * informującego o zmianie stanu zaznaczenia checkboxa
             */
            checkboxChange() {
                this.$nextTick(function () {
                    if (this.checkboxValue) {
                        this.$emit('checked');
                    } else {
                        this.$emit('unchecked');
                    }
                })
            },
            /**
             * Każda komórka nagłówka może posiadać własny ScopedSlot
             * Pobranie nazwy takiego slotu
             *
             * @param {String} key Nazwa kolumny
             *
             * @return {String}
             */
            slotName(key) {
                return 'cell-header-' + key;
            }
        }
    }
</script>
