<template>

    <tr>
        <td class="text-center" :colspan="columnsLength()">
            <slot>Brak danych</slot>
        </td>
    </tr>

</template>

<script>
    export default {
        props: {
            headers: {
                type: Object,
                required: true
            },
            actions: {
                type: Boolean,
                default: false
            },
        },
        methods: {
            /**
             * Liczba kolumn wraz kolumna akcji
             *
             * @return {Number}
             */
            columnsLength() {
                let length = Object.keys(this.headers).length;
                if (this.actions) {
                    length++;
                }
                return length;
            },
        }
    }
</script>
