<template>

    <ul v-if="pagesCount > 1" class="pagination pull-right">

        <li class="paginate_button" :class="{'active': page === 1}">
            <span class="detail" @click="showPage(1)">1</span>
        </li>

        <li v-if="numbers[0] > 2" class="paginate_button">
            <span class="no-border no-background">...</span>
        </li>

        <li v-for="number in numbers" class="paginate_button" :class="{'active': page === number}">
            <span class="detail" @click="showPage(number)">{{ number }}</span>
        </li>

        <li v-if="numbers[numbers.length-1] < pagesCount-1" class="paginate_button">
            <span class="no-border no-background">...</span>
        </li>

        <li class="paginate_button" :class="{'active': page === pagesCount}">
            <span class="detail" @click="showPage(pagesCount)">{{ pagesCount }}</span>
        </li>

    </ul>

</template>

<script>
    export default {
        props: {
            pagesCount: {
                type: Number,
                required: true
            },
            page: {
                type: Number,
                required: true
            },
            range: {
                type: Number,
                required: true
            },
            block: {
                type: Boolean,
                required: false
            },
        },
        computed: {
            numbers() {
                let numbers = [];
                let i = this.page - this.range > 1 ? this.page - this.range : 1;
                let max = this.page + this.range < this.pagesCount ? this.page + this.range : this.pagesCount;
                for (i; i <= max; i++) {
                    if (i > 1 && i < this.pagesCount) {
                        numbers.push(i);
                    }
                }
                return numbers;
            }
        },
        methods: {
            /**
             * Wyświetlenie danej strony
             *
             * @param index
             *
             * @return void
             */
            showPage(index) {
                if (!this.block) {
                    this.$emit('update:page', index);
                }
            },
        }
    }
</script>

<style scoped>
    .pagination {
        margin-top: 5px;
    }
    .pagination .paginate_button {
        display: inline-block;
        padding: 0.5em 0.25em;
        min-width: 1.5em;
    }
</style>