<template>
    <div class="simple-table-wrapper">
        <div ref="scroller" class="simple-table-scroller" :style="divScrollerStyle">
            <table class="table simple-table mb-0" >

                <table-head
                        ref="head"
                        v-if="!noHead"
                        :columns="columns"
                        :data-length="data.length"
                        :direction.sync="direction"
                        :sorted-by.sync="sortedBy"
                        :actions="actions"
                        :checkboxes="checkboxes"
                        @checked="checkedAll"
                        @unchecked="uncheckedAll"
                        @make-sort="emitMakeSort">
                    <template v-for="column in columns" :slot="'cell-header-'+column.index">
                        <slot :name="'cell-header-'+column.index" :column="column">
                            <span>{{ column.label }}</span>
                        </slot>
                    </template>
                </table-head>

                <tbody>
                <tr v-for="(row, rowIndex) in rows"
                    ref="row"
                    :class="trClass(row)"
                    :key="rowIndex"
                    @click="$emit('row-clicked', row)"
                    @mouseover="coloredRow(row)"
                    @mouseout="uncoloredRow(row)">

                    <checkbox-wrapper v-if="checkboxes && actionCells[rowIndex].rowspan" :rowspan="actionCells[rowIndex].rowspan" :show="row.$checkbox!==false">
                        <input type="checkbox" v-model="row.$checked" @change="checkboxChange(row)">
                    </checkbox-wrapper>

                    <td v-for="(cell, columnIndex) in columns"
                        v-if="cells[rowIndex][columnIndex].rowspan && cells[rowIndex][columnIndex].colspan && columns[columnIndex].hidden !== true"
                        :class="tdClass(columnIndex)"
                        :rowspan="cells[rowIndex][columnIndex].rowspan"
                        :colspan="cells[rowIndex][columnIndex].colspan">
                        <slot :name="slotName(cell.index)" :row="row">
                            {{ row[cell.index] }}
                        </slot>
                    </td>

                    <actions
                            v-if="actions && actionCells[rowIndex].rowspan"
                            :class="actionClass(row)"
                            ref="actionCell"
                            :row="row"
                            :rowspan="actionCells[rowIndex].rowspan">
                    </actions>
                </tr>

                <no-data v-if="!rows.length" :headers="headers" :actions="actions">
                    <slot></slot>
                </no-data>
                </tbody>
            </table>
        </div>
        <pagination :pages-count="getTotalPages()" :page.sync="currentPage" :range="4" class="hidden-xs hidden-sm"></pagination>
        <pagination :pages-count="getTotalPages()" :page.sync="currentPage" :range="2" class="hidden-md hidden-lg"></pagination>
    </div>
</template>

<script>
    import TableHead from './Head'
    import Pagination from './Pagination'
    import NoData from './NoData'
    import Actions from './Actions'
    import CheckboxWrapper from './CheckboxWrapper'

    export default {
        components: {
            TableHead, Pagination, NoData, Actions, CheckboxWrapper
        },
        props: {
            headers: {
                type: Object,
                required: true
            },
            data: {
                type: Array,
                required: true
            },
            mergeCells: {
                type: Array,
                required: false
            },
            autoMergeCells: {
                type: Object,
                required: false
            },
            sort: {
                type: String,
                required: false,
                default: ''
            },
            dir: {
                type: String,
                required: false,
                default: ''
            },
            actions: {
                type: Boolean,
                default: false
            },
            checkboxes: {
                type: Boolean,
                default: false
            },
            page: {
                type: [String, Number],
                required: false,
                default: '1'
            },
            perPage: {
                type: [String, Number],
                required: false,
            },
            noHead: {
                type: Boolean,
                default: false
            },
            noColored: {
                type: Boolean,
                default: false
            },
            selectedClass: {
                type: String,
                required: false,
                default: 'success'
            }
        },
        computed: {
            /**
             * Obliczona zmienna z definicja które komórki łączyć lub nie wyświetlać
             */
            mergeDefinitions() {
                let definitions = this.mergeCells;

                if (this.autoMergeCells) {
                    definitions = [];
                    let iR = 0,
                        iC = 0,
                        mergeColumn = this.autoMergeCells.mergeColumn,
                        columns = this.autoMergeCells.columns || [this.autoMergeCells.mergeColumn],
                        rowspan = 0,
                        valuePrev = '',
                        isAddedActions = false;

                    for (let columnIndex in columns) {
                        iR = iC = rowspan = 0;
                        valuePrev = '';

                        for (let index in this.headers) {
                            if (index === columns[columnIndex]) {
                                break;
                            }
                            iC++;
                        }

                        for (let i = 0; i < this.rows.length; i++) {
                            if (valuePrev !== this.rows[i][mergeColumn]) {
                                if (rowspan > 1) {
                                    definitions.push({row: iR, column: iC, rowspan: rowspan})
                                    if (this.autoMergeCells.actions && !isAddedActions) {
                                        definitions.push({row: iR, column: 'actions', rowspan: rowspan})
                                    }
                                }
                                valuePrev = this.rows[i][mergeColumn];
                                iR = i;
                                rowspan = 1;
                            } else {
                                rowspan++;
                            }
                        }
                        if (rowspan > 1) {
                            definitions.push({row: iR, column: iC, rowspan: rowspan})
                            if (this.autoMergeCells.actions && !isAddedActions) {
                                definitions.push({row: iR, column: 'actions', rowspan: rowspan});
                            }
                        }
                        isAddedActions = true;
                    }
                }

                return definitions;
            },
            /**
             * Obliczona zmienna z definicja column
             */
            columns() {
                let columns = [];
                for (let index in this.headers) {
                    let obj = this.headers[index];
                    obj.index = index;
                    if (this.mergeCells && obj.sorting === undefined) {
                        obj.sorting = false
                    }
                    columns.push(obj);
                }
                return columns;
            },
            /**
             * Obliczona zmienna z danymi
             */
            rows() {
                let tab = _.orderBy(this.data, this.sortedBy, this.direction)

                if (this.getTotalPages() > 1) {
                    tab = tab.slice((this.currentPage - 1) * this.perPage, this.currentPage * this.perPage);
                }

                return tab;
            },
            /**
             * Obliczona zmienna z wartoscia dla poszczególnych komórek
             */
            cells() {
                let cells = [];
                for (let iR = 0; iR < this.rows.length; iR++) {
                    let row = [];
                    for (let iC = 0; iC < this.columns.length; iC++) {
                        row.push({
                            rowspan: 1,
                            colspan: 1
                        });
                    }
                    cells.push(row);
                }

                if ((this.mergeCells && this.sortedBy === '') || this.autoMergeCells) {
                    for (let i in this.mergeDefinitions) {
                        let iR = this.mergeDefinitions[i].row,
                            iC = this.mergeDefinitions[i].column,
                            rowspan = this.mergeDefinitions[i].rowspan || 1,
                            colspan = this.mergeDefinitions[i].colspan || 1;
                        if (iC !== 'actions') {
                            if (rowspan > 1) {
                                cells[iR][iC].rowspan = rowspan;
                                for (let y = 1; y < rowspan; y++) {
                                    iR++;
                                    cells[iR][iC].rowspan = 0;
                                }
                                iR = this.mergeDefinitions[i].row;
                            }
                            if (colspan > 1) {
                                cells[iR][iC].colspan = colspan;
                                for (let y = 1; y < colspan; y++) {
                                    iC++;
                                    cells[iR][iC].colspan = 0;
                                }
                            }
                        }
                    }
                }
                return cells;
            },
            /**
             * Obliczona zmienna z wartoscia dla komórek akcji
             */
            actionCells() {
                let cells = [];
                for (let iR = 0; iR < this.rows.length; iR++) {
                    cells.push({
                        rowspan: 1,
                    });
                }
                if ((this.mergeCells && this.sortedBy === '') || this.autoMergeCells) {
                    for (let i in this.mergeDefinitions) {
                        let iR = this.mergeDefinitions[i].row;
                        let rowspan = this.mergeDefinitions[i].rowspan || 1;
                        if (this.mergeDefinitions[i].column === 'actions') {
                            if (rowspan > 1) {
                                cells[iR].rowspan = rowspan;
                                for (let y = 1; y < rowspan; y++) {
                                    iR++;
                                    cells[iR].rowspan = 0;
                                }
                                iR = this.mergeDefinitions[i].row;
                            }
                        }
                    }
                }
                return cells;
            },
            /**
             * Automatyczne przelicznie dlugości scrollbara  i wyłączenie tego jeśli brak danych
             */
            divScrollerStyle(){
                return this.rows.length ? 'width:calc(100% - ' + this.scrollerWidth + ');' : false;
            }
        },
        data() {
            return {
                currentPage: parseInt(this.page),
                sortedBy: this.sort,
                direction: this.dir,
                scrollerWidth: ''
            }
        },
        created() {
            window.addEventListener('resize', this.handleResize);
        },
        beforeDestroy() {
            window.removeEventListener('resize', this.handleResize);
        },
        mounted() {
            this.runResize();
        },
        methods: {
            /**
             * hook jesli rodzic jest niewidoczny to ma tabela sie przeliczyc w momencie kiedy bedzie widoczna
             * szczegolnie kiedy ladujemy w zwinietym akordeonie z poziomu pluginów
             */
            runResize() {
                let that = this;
                if (that.$el.clientHeight === 0) {
                    setTimeout(() => {
                        that.runResize();
                    }, 500);
                } else {
                    that.handleResize();
                }
            },
            /**
             * Event zmiany rozmiaru okna
             */
            handleResize() {
                if (this.actions) {
                    if (this.$refs.head.$refs.header.clientHeight) {
                        this.$refs.head.cellHeight = this.$refs.head.$refs.header.clientHeight + 'px';
                    }
                    let width = this.$refs.head.$refs.actions.clientWidth;
                    this.scrollerWidth = width < 150 ? '150px' : width + 'px';
                    this.$nextTick(() => {
                        for (let i in this.$refs.row) {
                            let tr = this.$refs.row[i];
                            let tdAction = this.$refs.row[i].lastChild;
                            if (tr.clientHeight && tdAction.clientHeight) {
                                tr.style = 'auto';
                                tdAction.style = 'auto';
                                if (tdAction.attributes.rowspan.value === '1') {
                                    if (tr.clientHeight > tdAction.clientHeight) {
                                        tdAction.style = tr.style = 'height: ' + (tr.clientHeight + 1) + 'px';
                                    } else {
                                        tr.style = tdAction.style = 'height: ' + (tdAction.clientHeight + 1) + 'px';
                                    }
                                } else {
                                    for (let j in tr.cells) {
                                        let td = tr.cells[j];
                                        if (td.attributes.rowspan.value === tdAction.attributes.rowspan.value) {
                                            if (td.clientHeight > tdAction.clientHeight) {
                                                tdAction.style = 'height: ' + (td.clientHeight + 1) + 'px';
                                            } else {
                                                tr.style = 'height: ' + (tdAction.clientHeight + 1) + 'px';
                                            }
                                            break;
                                        }
                                    }
                                }
                            }
                        }
                    })
                }
            },
            /**
             * Klasy css dla wiersza
             *
             * @param {Object} row Obiekt danych dla wiersza
             *
             * @return {Array}
             */
            trClass(row) {
                let classes = [];
                if (row.$selected) {
                    classes.push('selected-' + this.selectedClass);
                } else if (!this.noColored && row.$mouseover) {
                    classes.push('over');
                }
                return classes;
            },
            /**
             * Klasy css dla komórki akcji, póki co oparte na klasach z wiersza
             *
             * @param {Object} row Obiekt danych dla wiersza
             *
             * @return {Array}
             */
            actionClass(row) {
                return this.trClass(row);
            },
            /**
             * Podświetla rekord przez ustawienie flagi $mousover na true
             *
             * @param {Object} row Obiekt danych wiersza
             */
            coloredRow(row) {
                row.$mouseover = true;
                this.$forceUpdate();
            },
            /**
             * Wyłącza podświetlanie rekordu przez ustawienie flagi $mousover na false
             *
             * @param {Object} row Obiekt danych wiersza
             */
            uncoloredRow(row) {
                row.$mouseover = false;
                this.$forceUpdate();
            },
            /**
             * Klasy css dla komórki
             *
             * @param {String} index Nazwa kolumny
             *
             * @return {Array}
             */
            tdClass(index) {
                let classes = ['table-body-cell'];

                /**
                 * Wysrodkowanie kolumny
                 */
                if (this.columns[index].align === 'center') {
                    classes.push('text-center');
                } else if (this.columns[index].align === 'right') {
                    classes.push('text-right');
                }
                /**
                 * Nowrap kolumny
                 */
                if (this.columns[index].nowrap) {
                    classes.push('nowrap');
                }

                return classes;
            },
            /**
             * Liczba wszystkich stron
             *
             * @return {Number}
             */
            getTotalPages() {
                if (this.perPage) {
                    return Math.ceil(this.data.length / this.perPage);
                }
                return 1;
            },
            /**
             * Każda komórak moze posiada wlasny ScopedSlot
             * Pobranie nazwy takiego slotu
             *
             * @param {String} key Nazwa kolumny
             *
             * @return {String}
             */
            slotName(key) {
                return 'cell-' + key;
            },
            /**
             * Zaznaczenie wszystkich checkboxow dostępnych w obiekcie data
             * włączając w to inne strony
             */
            checkedAll() {
                for (let index in this.data) {
                    if (this.data[index].$checkbox !== false) {
                        this.data[index].$checked = true;
                    }
                }
                this.$forceUpdate();
                this.$emit('checked-all');
            },
            /**
             * Odznaczenie wszystkich checkboxow dostępnych w obiekcie data
             * włączając w to inne strony
             */
            uncheckedAll() {
                for (let index in this.data) {
                    this.data[index].$checked = false;
                }
                this.$forceUpdate();
                this.$emit('unchecked-all');
            },
            /**
             * Wysłanie eventu do komponentów nadrzędnych,
             * informującego o zmianie stanu zaznaczenia checkboxa
             * wraz z wierszem dla którego zmienił się status
             *
             * @param <Object> row
             */
            checkboxChange(row) {
                this.$nextTick(function () {
                    if (row.$checked) {
                        this.$emit('checked', row);
                    } else {
                        this.$refs.head.uncheckCheckbox();
                        this.$emit('unchecked', row);
                    }
                })
            },
            /**
             * Zaznacza rekord przez ustawienie flagi $selected na true
             *
             * @param {Object} row Obiekt danych wiersza
             */
            selectRow(row) {
                row.$selected = true;
                this.$forceUpdate();
            },
            /**
             * Odznacza rekord przez ustawienie flagi $selected na false
             *
             * @param {Object} row Obiekt danych wiersza
             */
            unselectRow(row) {
                row.$selected = false;
                this.$forceUpdate();
            },
            /**
             * Emituje informacje o sortowaniu
             *
             * @param {String} direction Nazwa kolumny
             * @param {String} sortedBy  Kierunek sortowania
             */
            emitMakeSort(direction, sortedBy) {
                this.currentPage = 1;
                this.$emit('sorting', direction, sortedBy);
            }
        },
        watch: {
            rows() {
                this.$nextTick(() => {
                    this.handleResize();
                })
            }
        }
    }
</script>

