<template>
    <label class="checkbox">
        <input type="checkbox" :name="name" :value="content" :checked="value" @change="updateField($event.target.checked)">
        <slot></slot>
    </label>
</template>

<script>

    export default Vue.extend({
        props: {
            name: {
                type: String,
                required: true,
            },
            value: {
                type: Boolean,
                default: false,
            },
            content: {
                type: String,
                default: 'checked',
            },
        },
        methods: {
            updateField: function(value){
                this.$emit('input', value)
            }
        }
    })

</script>