<template>
    <div class="field">
        <label class="label"><slot></slot></label>
        <div class="control has-icons-right" :class="{'tooltip': tooltip, 'has-icons-left': icon}" :data-tooltip="tooltip">
            <input :name="name" :ref="name" :value="value" @input="updateField($event.target.value)" class="input" :class="{'is-danger': statusDate == statuses.error}" :type="type" :placeholder="placeholder" :readonly="isRequired">
            <span v-if="icon" class="icon is-small is-left"><i class="fa" :class="icon"></i></span>
            <span v-if="statusDate == statuses.error" class="icon is-small is-right has-text-danger"><i class="fa fa-warning"></i></span>
            <span v-else class="icon is-small is-right" :class="{'has-text-success': statusDate == statuses.success}"><i class="fa fa-check"></i></span>
        </div>
        <p class="help is-success" v-text="infoDate()"></p>
        <p v-if="error" class="help is-danger">{{ error }}</p>
    </div>
</template>

<script>

    export default Vue.extend({
        props: {
            name: {
                type: String,
                required: true,
            },
            type: {
                type: String,
                default: 'text'
            },
            placeholder: {
                type: String,
                default: 'RRRR-MM-DD'
            },
            tooltip: String,
            icon: String,
            status: {
                type: String,
                default: 'normal'
            },
            error: String,
            value: [String, Number],
            from: {
                type: String,
                default: '',
            },
            to: {
                type: String,
                default: '',
            },
            isRequired: {
                type: Boolean,
                default: false,
            },
        },
        mounted(){
            var that = this;
            this.datepicker = new DatePicker(this.$refs[this.name], {
                onOpen: function(){
                    if(that.from != '' && that.to != '' && that.from == that.to){
                        throw new Error('Datepicker not needed');
                    }
                },
                onClose: function(){
                    that.updateField(that.$refs[that.name].value);
                }
            });
            that.updateField(this.value);
        },
        data() {
            return {
                statuses: {
                    normal: 'normal',
                    success: 'success',
                    error: 'error',
                },
                statusDate: this.status,
            }
        },
        methods: {
            isValidDate: function(dateString) {
                var regEx = /^\d{4}-\d{2}-\d{2}$/;
                if(!dateString.match(regEx)) return false;  // Invalid format
                var d = new Date(dateString);
                if(!d.getTime() && d.getTime() !== 0) return false; // Invalid date
                return d.toISOString().slice(0,10) === dateString;
            },
            checkDate: function(dateString){
                dateString = moment(dateString);
                if(!dateString.isValid()) return false;
                if(this.form){
                    var start = moment(this.from);
                    if(!start.isValid()) return false;
                    if(!dateString.isSameOrAfter(start)) return false;
                }
                if(this.to){
                    var end = moment(this.to);
                    if(!end.isValid()) return false;
                    if(!dateString.isSameOrBefore(end)) return false;
                }
                return true;
            },
            updateField: function(dateString){
                if(dateString !== ''){
                    if(!this.checkDate(dateString)){
                        this.statusDate = this.statuses.error;
                    }else{
                        this.statusDate = this.statuses.success;
                    }
                }else if(dateString === '' && !this.isRequired){
                    this.statusDate = this.statuses.success;
                }else{
                    this.statusDate = this.statuses.normal;
                }
                this.$emit('input', dateString);
                this.$emit('update:status', this.statusDate);
            },
            infoDate: function(){
                var msg = '';
                if(this.from != '' && this.to != '' && this.from != this.to){
                    msg = 'od ' + this.from + ' do ' + this.to;
                }
                if(this.from != '' && this.to == ''){
                    msg = 'od ' + this.from;
                }
                if(this.from == '' && this.to != ''){
                    msg = 'do ' + this.to;
                }
                return msg;
            },
            setValueFromDates: function(){
                this.updateField('');
                if(this.from != '' && this.to != '' && this.from == this.to){
                    this.updateField(this.from);
                }
            }
        },
        watch: {
            'from': function () {
                this.setValueFromDates();
            },
            'to': function () {
                this.setValueFromDates();
            }
        }
    })

</script>