<template>

    <input-control type="email" :value="value" @input="update($event)" :name="name" icon="fa-envelope" :tooltip="tooltip" :placeholder="placeholder" :status="statusEmail" :error="error" :isDisabled="isDisabled">
        <slot>E-mail</slot>
    </input-control>

</template>

<script>

    import InputControl from './Input.vue'

    export default InputControl.extend({
        props: {
            name: {
                default: 'email'
            },
            placeholder: {
                default: 'Podaj adres email'
            },
            tooltip: {
                default: 'Email musi być unikatowy względem naszej aplikacji.'
            }
        },
        components: {
            InputControl
        },
        data(){
            return {
                statusEmail: this.status
            }
        },
        mounted() {
            this.check(this.value);
            if(this.error){
                this.statusEmail = 'error';
            }
            this.$emit('update:status', this.statusEmail);
        },
        methods: {
            check: function(email) {
                var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                var isOk = re.test(email);

                if(!isOk && this.error){
                    this.statusEmail = 'error';
                }else if(!isOk && !this.error){
                    this.statusEmail = 'normal';
                }else{
                    this.statusEmail = 'success';
                }
            },
            update: function(email) {
                this.check(email);
                this.$emit('input', email);
                this.$emit('update:status', this.statusEmail);
            }
        }
    })

</script>