<template>
    <div class="field">
        <label class="label"><slot></slot></label>
        <div class="file has-name is-right is-fullwidth">
            <label class="file-label">
                <input type="file" class="file-input" :name="name" @change="updateField($event.target.files)">
                <span class="file-cta">
                    <span class="file-icon"><i class="fa fa-upload"></i></span>
                    <span class="file-label">Wybierz plik</span>
                </span>
                <span class="file-name">{{ value }}</span>
            </label>
        </div>
        <p v-if="error" class="help is-danger">{{ error }}</p>
    </div>
</template>

<script>

    export default Vue.extend({
        props: {
            name: {
                type: String,
                required: true,
            },
            error: String,
            value: [String, Number],
        },
        methods: {
            updateField: function(files){
                if(files.length > 0) {
                    this.$emit('input', files[0].name)
                }else{
                    this.$emit('input', '')
                }
            }
        }
    })

</script>