<template>
    <div class="field">
        <label class="label"><slot></slot></label>
        <div class="control has-icons-right" :class="{'tooltip': tooltip, 'has-icons-left': icon}" :data-tooltip="tooltip">
            <input :name="name" :value="value" @input="updateField($event.target.value)" class="input" :class="{'is-danger': status == statuses.error}" :type="type" :placeholder="placeholder" :disabled="isDisabled">
            <span v-if="icon" class="icon is-small is-left"><i class="fa" :class="icon"></i></span>
            <span v-if="status == statuses.error" class="icon is-small is-right has-text-danger"><i class="fa fa-warning"></i></span>
            <span v-else class="icon is-small is-right" :class="{'has-text-success': status == statuses.success}"><i class="fa fa-check"></i></span>
        </div>
        <p v-if="error" class="help is-danger">{{ error }}</p>
    </div>
</template>

<script>

    export default Vue.extend({
        props: {
            name: {
                type: String,
                required: true,
            },
            type: {
                type: String,
                default: 'text'
            },
            placeholder: String,
            tooltip: String,
            icon: String,
            status: {
                type: String,
                default: 'normal'
            },
            error: String,
            value: [String, Number],
            isDisabled: {
                type: Boolean,
                default: false
            }
        },
        data() {
            return {
                statuses: {
                    normal: 'normal',
                    success: 'success',
                    error: 'error'
                }
            }
        },
        methods: {
            updateField: function(value){
                this.$emit('input', value)
            }
        }
    })

</script>