<template>

    <input-control type="text" :value="value" @input="update($event)" :name="name" icon="fa-user" :tooltip="tooltip" :placeholder="placeholder" :status="statusName" :error="error">
        <slot>Nazwa</slot>
    </input-control>

</template>

<script>

    import InputControl from './Input.vue'

    export default InputControl.extend({
        props: {
            name: {
                default: 'name'
            },
            placeholder: {
                default: 'Podaj nazwę'
            },
        },
        components: {
            InputControl
        },
        data(){
            return {
                statusName: this.status
            }
        },
        mounted() {
            this.check(this.value);
            if(this.error){
                this.statusName = 'error';
            }
            this.$emit('update:status', this.statusName);
        },
        methods: {
            check: function(name) {
                console.log(name);
                if(name != '' && name.length < 5){
                    this.statusName = 'error';
                }else{
                    this.statusName = 'success';
                }
            },
            update: function(name) {
                this.check(name);
                this.$emit('input', name);
                this.$emit('update:status', this.statusName);
            }
        }
    })

</script>