<template>

    <input-control type="password" :value="value" @input="update($event)" :name="name" icon="fa-key" :tooltip="tooltip" :placeholder="placeholder" :status="statusPassword" :error="error">
        <slot>Hasło</slot>
    </input-control>

</template>

<script>

    import InputControl from './Input.vue'

    export default InputControl.extend({
        props: {
            name: {
                default: 'password'
            },
            placeholder: {
                default: 'Podaj hasło do konta'
            },
            tooltip: {
                default: 'Hasło musi się składać z przynajmniej 6 znaków.'
            },
            template: String
        },
        components: {
            InputControl
        },
        data(){
            return {
                statusPassword: this.status
            }
        },
        mounted() {
            this.check(this.value);
            if(this.error){
                this.statusPassword = 'error';
            }
            this.$emit('update:status', this.statusPassword);
        },
        methods: {
            check: function(password) {
                if(password.length < 5 && this.error){
                    this.statusPassword = 'error';
                }else if(password.length < 5 && !this.error){
                    this.statusPassword = 'normal';
                }else{
                    this.statusPassword = 'success';
                }
                if(this.template && this.template != password) {
                    this.statusPassword = 'normal';
                }
            },
            update: function(password) {
                this.check(password);
                this.$emit('input', password);
                this.$emit('update:status', this.statusPassword);
            }
        },
        watch: {
            template: function(){
                this.update(this.value);
            }
        }
    })

</script>