<template>
    <div class="field">
        <label class="label"><slot></slot></label>

        <div class="control has-icons-right" :class="{'tooltip': tooltip, 'has-icons-left': icon}" :data-tooltip="tooltip">
            <div class="select is-fullwidth" :class="{'is-danger': status == statuses.error}">
                <select :name="name" :value="value" @input="updateField($event.target.value)" :disabled="isDisabled">
                    <option v-for="option in options" :value="option.id">{{ option.label }}</option>
                </select>
            </div>
            <span v-if="icon" class="icon is-small is-left"><i class="fa" :class="icon"></i></span>
        </div>
        <p v-if="error" class="help is-danger">{{ error }}</p>
    </div>
</template>

<script>

    export default Vue.extend({
        props: {
            name: {
                type: String,
                required: true,
            },
            options: {
                type: Array,
                required: true
            },
            tooltip: String,
            icon: String,
            status: {
                type: String,
                default: 'normal'
            },
            error: String,
            value: [String, Number],
            isDisabled: {
                type: Boolean,
                default: false
            }
        },
        data() {
            return {
                statuses: {
                    normal: 'normal',
                    success: 'success',
                    error: 'error'
                }
            }
        },
        methods: {
            updateField: function(value){
                this.$emit('input', value)
            }
        }
    })

</script>