<template>
    <scrollbar :classes="barClasses" ref="Scrollbar" :style="getStyle()">
        <div :class="scrollClasses">
            <slot></slot>
            <div class="clearfix"></div>
        </div>
    </scrollbar>
</template>

<script>

    /**
     * https://www.npmjs.com/package/vue2-scrollbar
     */
    import scrollbar from 'vue2-scrollbar';

    require("@/css/vue/vue2-scrollbar.css");


    export default {
        components: {
            scrollbar
        },
        props: {
            height: {
                type: String,
                required: true,
            },
            maxHeight: {
                type: String,
                required: false,
                default: 'none'
            },
            barClasses: {
                type: String,
                required: false,
                default: 'vue-scrollbar'
            },
            scrollClasses: {
                type: String,
                required: false,
                default: 'vue-scroll'
            },
        },
        data() {
            return {}
        },
        methods: {
            getStyle() {
                return 'height: ' + this.height + '; max-height: ' + this.maxHeight + ';';
            }
        }
    }
</script>
