<template>
    <transition v-if="show" name="modal">
        <div class="modal-mask">
            <div class="modal-wrapper modal">
                <div class="modal-dialog" :class="getSize()">
                    <div class="modal-container modal-content">
                        <div class="modal-header">
                            <button type="button" @click="close()" class="bootbox-close-button close" aria-hidden="true">×</button>
                            <h4 class="modal-title">{{ title }}</h4>
                        </div>
                        <div class="modal-body">
                            <div v-if="bodyScroll" class="bootbox-body" @mouseup="refreshBodyScroll">
                                <div-scroll ref="scroll" height="auto" :max-height="height">
                                    <slot><span class="text-danger">Podaj content HTML</span></slot>
                                </div-scroll>
                            </div>
                            <div v-else class="bootbox-body">
                                <slot><span class="text-danger">Podaj content HTML</span></slot>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <slot name="footer-left"></slot>
                            <button v-if="successBtn" @click="success()" type="button" class="btn btn-success">
                                {{ getLabel(successBtn, 'Zapisz') }}
                            </button>
                            <button v-if="cancelBtn" @click="cancel()" type="button" class="btn btn-danger">
                                {{ getLabel(cancelBtn, 'Anuluj') }}
                            </button>
                            <button v-if="closeBtn" @click="close()" type="button" class="btn btn-default">
                                {{ getLabel(closeBtn, 'Zamknij') }}
                            </button>
                            <slot name="footer-right"></slot>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
    import DivScroll from './DivScroll.vue';

    export default {
        components: {
            DivScroll
        },
        props: {
            title: {
                type: String,
                required: true
            },
            size: {
                type: String,
                default: '' // empty or lg or xl
            },
            show: {
                type: Boolean,
                default: false
            },
            successBtn: {
                type: [String, Boolean],
                default: true
            },
            cancelBtn: {
                type: [String, Boolean],
                default: true
            },
            closeBtn: {
                type: [String, Boolean],
                default: true
            },
            bodyScroll: {
                type: Boolean,
                default: false
            },
        },
        data() {
            return {
                initialBodyHeight: null,
                height: 'auto'
            }
        },
        created() {
            window.addEventListener('resize', this.handleResize);
        },
        beforeDestroy() {
            window.removeEventListener('resize', this.handleResize);
        },
        mounted() {
            this.$nextTick(function () {
                this.handleResize();
            })
        },
        methods: {
            getSize() {
                if (this.size !== '') {
                    return 'modal-' + this.size;
                }
                return '';
            },
            getLabel(labelBtn, text) {
                return _.isString(labelBtn) ? labelBtn : text;
            },
            success() {
                this.$emit('success');
            },
            cancel() {
                this.$emit('cancel');
            },
            close() {
                this.$emit('update:show', false);
                this.$emit('close');
                window.removeEventListener('resize', this.handleResize);
            },
            handleResize() {
                if (!this.$refs.scroll) {
                    //brak okna modala
                    return;
                }

                let windowMargin = 200;
                let minimalBodyHeight = 200;
                let windowHeight = window.innerHeight - windowMargin;
                this.initialBodyHeight = this.$refs.scroll.$refs.Scrollbar.$refs.scrollArea.scrollHeight;
                let bodyHeight = this.initialBodyHeight + 'px';

                if (this.initialBodyHeight > minimalBodyHeight) {
                    //początkowa wysokość body modala większa od wysokości minimalnej body - ustaw domyślną wysokość body
                    //zależnie od wysokości okna przy spełnieniu jednego z poniższych warunków

                    if (windowHeight < minimalBodyHeight) {
                        //wysokość okna mniejsza od wysokości minimalnej body modala - ustaw minimalną wysokość body
                        bodyHeight = minimalBodyHeight + 'px';
                    } else if (windowHeight < this.initialBodyHeight) {
                        //wysokość okna mniejsza od wyjściowej wysokości body -> ustaw wysokość body dostosowaną do wysokości okna
                        bodyHeight = windowHeight + 'px';
                    }
                }

                this.height = bodyHeight;
                this.$nextTick(function () {
                    this.$refs.scroll.$refs.Scrollbar.calculateSize();
                })
            },
            refreshBodyScroll() {
                this.$nextTick(function () {
                    this.handleResize();
                });
            }
        }
    }
</script>

<style scoped>
    .modal-mask {
        position: fixed;
        z-index: 9998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        display: table;
        transition: opacity .3s ease;
    }

    .modal-wrapper {
        display: table-cell;
        vertical-align: middle;
    }

    .modal-container {
        top: 30%;
        transition: all .3s ease;
    }

    /*
     * The following styles are auto-applied to elements with
     * transition="modal" when their visibility is toggled
     * by Vue.js.
     *
     * You can easily play with the modal transition by editing
     * these styles.
     */

    .modal-enter {
        opacity: 0;
    }

    .modal-leave-active {
        opacity: 0;
    }

    .modal-enter .modal-container,
    .modal-leave-active .modal-container {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
</style>