<template>
    <div v-if="$slots.default" class="alert" :class="getClass()">
        <slot></slot>
    </div>
</template>

<script>
    export default {
        props: {
            type: {
                type: String,
                required: false,
                default: 'info' //success, warning, danger, urgent
            }
        },
        methods: {
            getClass() {
                if (this.type === 'urgent') {
                    return 'alert-danger-urgent';
                }
                return 'alert-' + this.type;
            }
        }
    }
</script>
