<template>
    <div class="col-lg-12 pagination-box">
        <ul class="pagination">
            <li :class="getClass(disabledPrevious)">
                <a @click="$emit('previous')">{{ getLabel(labelPrevious, 'Poprzedni') }}</a>
            </li>
            <li :class="getClass(disabledNext)">
                <a @click="$emit('next')">{{ getLabel(labelNext, 'Następny') }}</a>
            </li>
        </ul>
        <div class="button-hr"></div>
    </div>
</template>

<script>
    export default {
        props: {
            labelPrevious: {
                type: String,
                required: false,
            },
            labelNext: {
                type: String,
                required: false,
            },
            disabledPrevious: {
                type: Boolean,
                required: false,
                default: false
            },
            disabledNext: {
                type: Boolean,
                required: false,
                default: false
            },
        },
        methods: {
            getLabel(label, defaultLabel) {
                return label ? label : defaultLabel;
            },
            getClass(disabled) {
                return disabled ? 'inactive' : 'active';
            }
        }
    }
</script>
