
// If you need to modify Bulma variables to so before importing it!

@import 'node_modules/bulma/bulma.sass';

@import "node_modules/bulma-extensions/bulma-carousel/carousel.sass";
@import "node_modules/bulma-extensions/bulma-tooltip/tooltip.sass";
@import "node_modules/bulma-extensions/bulma-calendar/calendar.sass";

@import 'node_modules/font-awesome/scss/font-awesome.scss';

@import 'node_modules/flag-icon-css/sass/flag-icon.scss';

@import "social.scss";


.navbar-item img {
  max-height: 3.75rem;
}

.my-navbar-burger {
  height: 4.75rem;
  width: 4.75rem;
}

.my-hero-body {
  padding: 1.5rem 1.5rem;
}

