.bd-tw-button {
  background-color:#55acee;
  color:#fff;
  border-color:transparent !important
}

.bd-tw-button:hover {
  background-color:#49a6ed;
  color:#fff
}

.bd-tw-button:active, .bd-tw-button:focus {
  background-color:#3ea1ec;
  color:#fff
}

.bd-google-button {
  background-color: #d34836;
  color: #fff;
  border-color: transparent !important
}

.bd-google-button:hover {
  background-color: #d1311d;
  color: #fff
}

.bd-google-button:active, .bd-google-button:focus {
  background-color: #d1311d;
  color: #fff
}

.bd-lnin-button {
  background-color: #007bb5;
  color: #fff;
  border-color: transparent !important
}

.bd-lnin-button:hover {
  background-color: #00699b;
  color: #fff
}

.bd-lnin-button:active, .bd-lnin-button:focus {
  background-color: #00699b;
  color: #fff
}

.bd-pint-button {
  background-color: #cb2027;
  color: #fff;
  border-color: transparent !important
}

.bd-pint-button:hover {
  background-color: #c61119;
  color: #fff
}

.bd-pint-button:active, .bd-pint-button:focus {
  background-color: #c61119;
  color: #fff
}
