<template>

    <div v-if="!isAjax()" class="panel-body panel-body-new">
        <slot>
            Proszę podać content panelu: <strong>{{ name }}</strong><br><br>
            <code>&lt;template slot="{{name}}"&gt;kod html&lt;/template&gt;</code><br>
        </slot>
    </div>
    <div v-else-if="showLoader" class="panel-body panel-body-new">
        <loader></loader>
    </div>
    <div v-else class="panel-body panel-body-new"></div>

</template>

<script>
    export default {
        props: {
            name: {
                type: String,
                required: true
            },
            url: {
                type: String,
                required: false,
                default: ''
            }
        },
        mounted(){
            var that = this;

            if(that.isAjax()){

                that.showLoader = true;

                setTimeout(function () {
                    axios.get(that.url).then(response => {
                        $(that.$el).html(response.data);
                        that.showLoader = false;
                    })
                }, 3000)
            }
        },
        data(){
            return {
                showLoader: false,
            }
        },
        methods: {
            isAjax(){
                return this.url !== '';
            }
        }
    }
</script>

<style scoped>

</style>