<template>

    <div class="accordions">
        <div v-for="(panel, name) in config.panels" class="panel panel-default">

            <div class="panel-heading accordion-tab" :class="{'active': isActive(name)}" @click="toggle(name, panel)">
                <h5 v-html="panel.title"></h5>
            </div>

            <simple-panel v-if="isSimple(panel.type) && isActive(name)" :name="name" :url="panel.ajax">
                <slot :name="name"></slot>
            </simple-panel>

            <tabs-panel v-if="isTabs(panel.type) && isActive(name)" :name="name" :tabs="panel.tabs" :active-tab="panel.active">
                <template v-for="(tab, tabName) in panel.tabs" :slot="getTabName(name, tabName)">
                    <slot :name="getTabName(name, tabName)"></slot>
                </template>
            </tabs-panel>

            <wizard-panel v-if="isWizard(panel.type) && isActive(name)" :name="name" :steps="panel.steps" :active-step="panel.active" :cancel="panel.cancel">
                <template v-for="(step, stepName) in panel.steps" :slot="getStepName(name, stepName)">
                    <slot :name="getStepName(name, stepName)"></slot>
                </template>
            </wizard-panel>

        </div>
    </div>

</template>

<script>
    import SimplePanel from './Simple.vue';
    import TabsPanel from './Tabs.vue';
    import WizardPanel from './Wizard.vue';

    export default {
        components: {
            SimplePanel,
            TabsPanel,
            WizardPanel
        },
        props: {
            config: {
                type: Object,
                required: true
            }
        },
        data(){
            return {
                active: this.config.active,
                isActiveWizard: false,
                types: {
                    simple: 'simple',
                    tabs: 'tabs',
                    wizard: 'wizard'
                }
            }
        },
        mounted(){
            for(var panel in this.config.panels){
                if(this.isWizard(this.config.panels[panel].type) && this.isActive(panel)){
                    this.isActiveWizard = true;
                }
            }
        },
        methods: {
            isActive(panel){
                return panel === this.active;
            },
            toggle(name, panel){
                if(!this.isActiveWizard){
                    if(panel.href){
                        document.location = panel.href;
                    }else{
                        this.active = name;
                    }
                }
            },
            isSimple(panel){
                return panel === this.types.simple;
            },
            isTabs(panel){
                return panel === this.types.tabs;
            },
            isWizard(panel){
                return panel === this.types.wizard;
            },
            getActiveTab(panel){
                if(panel.tabs){
                    return panel.active;
                }
                return '';
            },
            getTabName(name, tabName){
                return name + '-' + tabName;
            },
            getStepName(name, stepName){
                return name + '-' + stepName;
            }
        }
    }
</script>

<style scoped>

</style>