<template>

    <div class="panel-collapse">

        <panel-body :name="name" :url="url">
            <slot></slot>
        </panel-body>

    </div>

</template>

<script>
    import PanelBody from './Body.vue';

    export default {
        components: {
            PanelBody
        },
        props: {
            name: {
                type: String,
                required: true
            },
            url: {
                type: String,
                required: false,
                default: ''
            }
        },
    }
</script>

<style scoped>

</style>