<template>
    <div class="col-lg-12 padding-zero">
        <ol class="breadcrumb breadcrumb-modal" :class="olClass">
            <li><slot></slot></li>
        </ol>
    </div>
</template>

<script>
    export default {
        props: {
            olClass: {
                type: Array,
                required: false,
            }
        },
    }
</script>

<style scoped>

</style>