<template>

    <div class="panel-collapse">

        <div class="menu-nav">
            <ol class="breadcrumb-upper">
                <li v-for="(tab, tabName) in tabs">
                    <a class="accordion-tab submenu-tab" :class="{'active': isActive(tabName)}" @click="toggle(tabName, tab)" v-html="tab.title"></a>
                </li>
            </ol>
        </div>

        <panel-body v-for="(tab, tabName) in tabs" v-if="isActive(tabName)" :name="getTabName(tabName)" :url="tab.ajax" :key="tabName">
            <slot :name="getTabName(tabName)"></slot>
        </panel-body>

    </div>

</template>

<script>
    import PanelBody from './Body.vue';

    export default {
        components: {
            PanelBody
        },
        props: {
            name: {
                type: String,
                required: true
            },
            tabs: {
                type: Object,
                required: true
            },
            activeTab: {
                type: String,
                required: true
            }
        },
        data(){
            return {
                active: this.activeTab
            }
        },
        methods: {
            getTabName(tabName){
                return this.name + '-' + tabName;
            },
            isActive(tabName){
                return tabName === this.active;
            },
            toggle(name, tab){
                if(tab.href){
                    document.location = tab.href;
                }else{
                    this.active = name;
                }
            },
        }
    }
</script>

<style scoped>

</style>