<template>

    <div class="panel-collapse">

        <ol class="breadcrumb">
            <li>
                <a :href="cancel" class="wizard-cancel">
                    <span class="label label-danger active">Przerwij</span>
                </a>
            </li>
            <li v-for="(step, stepName) in steps" :class="{'active': isActive(stepName)}" v-html="step.title"></li>
        </ol>

        <panel-body v-for="(step, stepName) in steps" v-if="isActive(stepName)" :name="getStepName(stepName)" :url="step.url" :key="stepName">

            <slot :name="getStepName(stepName)"></slot>

        </panel-body>

    </div>

</template>

<script>
    import PanelBody from './Body.vue';

    export default {
        components: {
            PanelBody
        },
        props: {
            name: {
                type: String,
                required: true
            },
            steps: {
                type: Object,
                required: true
            },
            activeStep: {
                type: String,
                required: true
            },
            cancel: {
                type: String,
                required: true
            },
        },
        methods: {
            getStepName(stepName){
                return this.name + '-' + stepName;
            },
            isActive(stepName){
                return stepName === this.activeStep;
            }
        }
    }
</script>

<style scoped>

</style>