<template></template>

<script>
    import InputControl from './controls/Input.vue'
    import EmailControl from './controls/Email.vue'
    import PasswordControl from './controls/Password.vue'
    import NameControl from './controls/Name.vue'
    import SelectControl from './controls/Select.vue'
    import DateControl from './controls/Date.vue'
    import FileControl from './controls/File.vue'
    import CheckboxControl from './controls/Checkbox.vue'

    export default Vue.extend({
        components: {
            InputControl,
            EmailControl,
            PasswordControl,
            NameControl,
            SelectControl,
            DateControl,
            FileControl,
            CheckboxControl
        },
        data() {
            return {
                formReadyToSend: false,
            }
        },
        methods: {
        }

    });

</script>