<template>

    <form name="accept-regulations-form" method="post">
        <slot></slot>
        <button type="submit" class="button is-success">
            <fa-icon name="check-square"></fa-icon>
            <span>{{ label }}</span>
        </button>
    </form>

</template>


<script>

    export default {
        props: {
            label: String
        }
    }


</script>