<template>
    <form id="donation-form" name="donation-form" method="post">
        <slot></slot>

        <input type="hidden" name="userHash" :value="userHash">

        <select-control name="actionId" icon="fa-ambulance" v-model="form.actionId" :status.sync="actionStatus" :options="actions">{{ actionsLabel }}</select-control>

        <input type="hidden" name="protegeId" v-model="form.protegeId" :disabled="!protegeDisabled">
        <select-control name="protegeId" icon="fa-user" v-model="form.protegeId" :status.sync="protegeStatus" :options="proteges" :is-disabled="protegeDisabled">{{ protegesLabel }}</select-control>

        <select-control name="typeId" icon="fa-medkit" v-model="form.typeId" :status.sync="typeStatus" :options="types">{{ typesLabel }}</select-control>

        <select-control name="amount" icon="fa-tint" v-model="form.amount" :status.sync="amountStatus" :options="amounts">{{ amountsLabel }}</select-control>

        <date-control name="date" icon="fa-calendar" v-model="form.date" :status.sync="dateStatus" :isRequired="true" :from="dates.from" :to="dates.to">{{ dateLabel }}</date-control>

        <div class="field has-text-right">
            <a class="button is-info" @click="confirm()" :disabled="!formReadyToSend">
                <span class="icon"><i class="fa fa-plus-square"></i></span>
                <span>{{ label }}</span>
            </a>
        </div>

        <modal :show.sync="showModal" :cancelBtn="true" :successBtn="true" @clickSuccessBtn="submit()" :title="modalTitle">
            <table class="table is-striped is-fullwidth">
                <tbody>
                    <tr>
                        <td>{{ actionsLabel }}</td>
                        <td>{{ confirmVal.action }}</td>
                    </tr>
                    <tr>
                        <td>{{ protegesLabel }}</td>
                        <td>{{ confirmVal.protege }}</td>
                    </tr>
                    <tr>
                        <td>{{ typesLabel }}</td>
                        <td>{{ confirmVal.type }}</td>
                    </tr>
                    <tr>
                        <td>{{ amountsLabel }}</td>
                        <td>{{ form.amount }}</td>
                    </tr>
                    <tr>
                        <td>{{ dateLabel }}</td>
                        <td>{{ form.date }}</td>
                    </tr>
                </tbody>
            </table>
        </modal>

    </form>
</template>

<script>

    import FormAbstract from './Abstract.vue'

    export default FormAbstract.extend({
        props: {
            userHash: String,
            actions: Array,
            actionsLabel: String,
            proteges: Array,
            protegesLabel: String,
            types: Array,
            typesLabel: String,
            amounts: Array,
            amountsLabel: String,
            dateLabel: String,
            modalTitle: String,
            label: String,
        },
        mounted(){
            var that = this;
            that.actions.forEach(function(item){
                if(item.selected){
                    that.form.actionId = item.id;
                }
            });
            that.form.typeId = that.types[0].id
        },
        data() {
            return {
                actionStatus: 'success',
                protegeStatus: 'success',
                typeStatus: 'success',
                amountStatus: 'success',
                dateStatus: 'normal',
                protegeDisabled: true,
                showModal: false,
                currentAction: false,
                form: {
                    actionId: null,
                    protegeId: null,
                    typeId: null,
                    amount: null,
                    date: null,
                },
                confirmVal:{
                    action: '',
                    protege: '',
                    type: '',
                },
                dates: {
                    from: '',
                    to: '',
                }
            }
        },
        methods: {
            confirm: function(){
                if(this.formReadyToSend){
                    this.showModal=true;
                }
            },
            submit: function(){
                this.$el.submit();
            },
            checkFormSend: function() {
                if(
                    this.actionStatus == 'success'
                    && this.protegeStatus == 'success'
                    && this.typeStatus == 'success'
                    && this.amountStatus == 'success'
                    && this.dateStatus == 'success'
                ){
                    this.formReadyToSend = true;
                }else{
                    this.formReadyToSend = false;
                }
            }
        },
        watch: {
            'form.actionId': function() {
                var that = this;
                that.currentAction = false;
                that.protegeDisabled = true;
                that.dates.from='';
                that.dates.to='';

                if(that.form.actionId == ''){
                    that.protegeDisabled = false;
                }else{
                    that.actions.forEach(function(action){
                        if(action.id == that.form.actionId){
                            that.currentAction = action;
                            that.confirmVal.action = that.currentAction.label;
                            that.dates.from = that.currentAction.start;
                            that.dates.to = that.currentAction.end;
                            that.proteges.forEach(function(protege){
                                if(protege.id == that.currentAction.protegeId){
                                    that.form.protegeId = protege.id;
                                }
                            });
                        }
                    });
                }
            },
            'form.protegeId': function(){
                var that = this;
                that.proteges.forEach(function(protege){
                    if(protege.id == that.form.protegeId){
                        that.confirmVal.protege = protege.label;
                    }
                });
            },
            'form.typeId': function() {
                var that = this;
                that.types.forEach(function(item){
                    if(item.id == that.form.typeId){
                        that.form.amount = item.default;
                        that.confirmVal.type = item.label
                    }
                });
            },

            'actionStatus': function(){ this.checkFormSend() },
            'protegeStatus': function(){ this.checkFormSend() },
            'typeStatus': function(){ this.checkFormSend() },
            'amountStatus': function(){ this.checkFormSend() },
            'dateStatus': function(){ this.checkFormSend() },
        }
    })
</script>