<template>
    <form id="donation-form" name="donation-form" method="post" enctype="multipart/form-data">
        <slot></slot>

        <input type="hidden" name="userHash" :value="userHash">

        <name-control name="login" v-model="form.login" :status.sync="loginStatus" :error="loginError" placeholder="Dawca anonimowy">{{ loginLabel }}</name-control>

        <email-control :value="email" status="success" error="" :isDisabled="true">{{ emailLabel }}</email-control>

        <password-control v-model="form.password" :status.sync="passwordStatus" :error="passwordError" :placeholder="passwordPlaceholder">{{ passwordLabel }}</password-control>

        <password-control v-model="form.password2" :status.sync="password2Status" :template="form.password" name="password_confirmation" :placeholder="password2Placeholder">{{ password2Label }}</password-control>

        <input-control name="regulations" icon="fa-file-text" :value="regulations" status="success" :isDisabled="true">{{ regulationsLabel }}</input-control>

        <date-control name="date" icon="fa-calendar" v-model="form.date" :status.sync="dateStatus" :error="dateError">{{ dateLabel }}</date-control>

        <select-control name="gender" icon="fa-venus-mars" v-model="form.gender" :status.sync="genderStatus" :options="genders">{{ gendersLabel }}</select-control>

        <select-control name="typeId" icon="fa-medkit" v-model="form.typeId" :status.sync="typeStatus" :options="types">{{ typesLabel }}</select-control>

        <file-control name="fotoFile" v-model="form.fotoFile" :error="fileError">{{ fileLabel }}</file-control>

        <checkbox-control name="deleteFotoFile" v-model="form.deleteFotoFile">{{ deleteFileLabel }}</checkbox-control>

        <div class="field has-text-right">
            <a class="button is-info" @click="confirm()" :disabled="!formReadyToSend">
                <fa-icon name="address-card"></fa-icon>
                <span>{{ label }}</span>
            </a>
        </div>

        <modal :show.sync="showModal" :cancelBtn="true" :successBtn="true" @clickSuccessBtn="submit()" :title="modalTitle">
            <table class="table is-striped is-fullwidth">
                <tbody>
                    <tr>
                        <td>{{ loginLabel }}</td>
                        <td>{{ form.login }}</td>
                    </tr>
                    <tr>
                        <td>{{ emailLabel }}</td>
                        <td>{{ email }}</td>
                    </tr>
                    <tr v-if="passwordStatus=='success'">
                        <td>{{ passwordLabel }}</td>
                        <td><fa-icon name="check" color="success"></fa-icon></td>
                    </tr>
                    <tr>
                        <td>{{ regulationsLabel }}</td>
                        <td>{{ regulations }}</td>
                    </tr>
                    <tr>
                        <td>{{ dateLabel }}</td>
                        <td>{{ form.date }}</td>
                    </tr>
                    <tr>
                        <td>{{ gendersLabel }}</td>
                        <td>{{ confirmVal.gender }}</td>
                    </tr>
                    <tr>
                        <td>{{ typesLabel }}</td>
                        <td>{{ confirmVal.type }}</td>
                    </tr>
                    <tr v-if="form.fotoFile != ''">
                        <td>{{ fileLabel }}</td>
                        <td><fa-icon name="check" color="success"></fa-icon></td>
                    </tr>
                    <tr v-if="form.deleteFotoFile">
                        <td>{{ deleteFileLabel }}</td>
                        <td><fa-icon name="check" color="success"></fa-icon></td>
                    </tr>
                </tbody>
            </table>
        </modal>

    </form>
</template>

<script>

    import FormAbstract from './Abstract.vue'

    export default FormAbstract.extend({
        props: {
            userHash: String,
            modalTitle: String,
            label: String,
            login: String,
            loginLabel: String,
            loginError: String,
            email: String,
            emailLabel: String,
            passwordLabel: String,
            passwordPlaceholder: String,
            passwordError: String,
            password2Label: String,
            password2Placeholder: String,
            regulations: String,
            regulationsLabel: String,
            date: String,
            dateLabel: String,
            dateError: String,
            genders: Array,
            gendersLabel: String,
            types: Array,
            typesLabel: String,
            fileLabel: String,
            fileError: String,
            deleteFileLabel: String,
        },
        data() {
            return {
                loginStatus: 'normal',
                dateStatus: 'normal',
                genderStatus: 'success',
                typeStatus: 'success',
                passwordStatus: 'normal',
                password2Status: 'normal',
                showModal: false,
                form: {
                    login: this.login,
                    date: this.date,
                    gender: null,
                    typeId: null,
                    password: '',
                    password2: '',
                    fotoFile: '',
                    deleteFotoFile: false,
                },
                confirmVal:{
                    gender: '',
                    type: '',
                    pass: false,
                },
            }
        },
        mounted(){
            var that = this;
            that.genders.forEach(function(item){
                if(item.selected){
                    that.form.gender = item.id;
                }
            });
            that.types.forEach(function(item){
                if(item.selected){
                    that.form.typeId = item.id;
                }
            });
        },
        methods: {
            confirm: function(){
                if(this.formReadyToSend){
                    this.showModal=true;
                }
            },
            submit: function(){
                this.$el.submit();
            },
            checkFormSend: function() {
                if(
                    this.loginStatus == 'success'
                    && this.dateStatus == 'success'
                    && this.genderStatus == 'success'
                    && this.typeStatus == 'success'
                ){
                    this.formReadyToSend = true;
                }else{
                    this.formReadyToSend = false;
                }
                if(this.form.password != '' && (this.passwordStatus != 'success' || this.password2Status != 'success')){
                    this.formReadyToSend = false;
                }
            }
        },
        watch: {
            'form.gender': function() {
                var that = this;
                that.genders.forEach(function(item){
                    if(item.id == that.form.gender){
                        that.confirmVal.gender = item.label
                    }
                });
            },
            'form.typeId': function() {
                var that = this;
                that.types.forEach(function(item){
                    if(item.id == that.form.typeId){
                        that.confirmVal.type = item.label
                    }
                });
            },

            'loginStatus': function(){ this.checkFormSend() },
            'dateStatus': function(){ this.checkFormSend() },
            'genderStatus': function(){ this.checkFormSend() },
            'typeStatus': function(){ this.checkFormSend() },
            'form.password': function(){ this.checkFormSend() },
            'form.password2': function(){ this.checkFormSend() },
        }
    })
</script>