<template>
    <blockquote class="has-text-centered" :class="{'has-text-danger' : isRightNow, 'is-hidden' : isEnded}">{{isRightNow ? 'TRWA ':''}}{{ clock }}</blockquote>
</template>

<script>

    export default {
        props: {
            current: String,
            start: String,
            end: String
        },

        mounted: function () {
           var that = this;
            var eventTime = moment(this.start, 'YYYY-MM-DD HH:mm:ss').unix();
            var currentTime = moment(this.current, 'YYYY-MM-DD HH:mm:ss').unix();
            var diffTime = eventTime - currentTime;
            if(diffTime <= 0) {
                eventTime = moment(this.end, 'YYYY-MM-DD HH:mm:ss').unix();
                diffTime = eventTime - currentTime;
                that.isRightNow = true;
            }
            that.miliseconds = diffTime * 1000;
            that.setClock();

            setInterval(function(){
                that.miliseconds -= 1000;
                if(that.miliseconds < 0){
                    if(that.isRightNow || that.isEnded){
                        //zakonczyla sie
                        that.isEnded = true;
                    }else{
                        //odliczanie do zakonczenia
                        eventTime = moment(that.end, 'YYYY-MM-DD HH:mm:ss').unix();
                        diffTime = eventTime - currentTime;
                        that.isRightNow = true;
                        that.miliseconds = diffTime * 1000;
                    }
                }
                that.setClock();
            }, 1000);
        },

        data(){
            return {
                miliseconds: 0,
                clock: '',
                isRightNow: false,
                isEnded: false,
            }
        },

        methods: {
            setClock: function(){
                var duration = moment.duration(this.miliseconds, 'milliseconds');
                var M = duration.months() > 0 ? duration.months() + ' m ' : '';
                var d = duration.days() > 0 ? duration.days() + ' d ' : '';
                var h = duration.hours() > 9 ? duration.hours() : '0' + duration.hours();
                var m = duration.minutes() > 9 ? duration.minutes() : '0' + duration.minutes();
                var s = duration.seconds() > 9 ? duration.seconds() : '0' + duration.seconds();
                this.clock = M + d + h + ':' + m + ':' + s;
            }
        }
    }

</script>