<template>
    <span class="icon" :class="getColor()"><i class="fa" :class="getName()"></i></span>
</template>

<script>

    export default {
        props: {
            name: String,
            color: String
        },
        methods: {
            getName: function(){
                return 'fa-' + this.name
            },
            getColor: function () {
                return 'has-text-' + this.color;
            }
        }
    }

</script>