<template>
    <footer class="card-footer">
        <p class="card-footer-item" style="cursor: pointer;" :class="{'has-text-primary' : joined}" @click="query(true)">
            <span><slot></slot></span>&nbsp;&nbsp;
            <span class="icon"><i class="fa fa-2x fa-check-square-o"></i></span>
        </p>
    </footer>
</template>

<script>

    export default {
        props: {
            url: String,
        },
        data(){
            return {
                joined: false,
            }
        },
        mounted: function(){
            this.query(false);
        },
        methods: {
            query: function(change){
                var that = this;
                var change = {change: change} || {change: false};
                axios
                    .post(that.url, change)
                    .then(function (response) {
                        that.joined = response.data.joined
                    });
            }
        }
    }

</script>