<template>
    <div class="modal" :class="{ 'is-active': show }">
        <div class="modal-background" @click="close()"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">{{ title }}</p>
                <button type="button" class="delete" aria-label="close" @click="close()"></button>
            </header>
            <section class="modal-card-body">
                <slot></slot>
            </section>
            <footer class="modal-card-foot has-text-right is-block">
                <button v-if="cancelBtn" type="button" class="button is-danger" @click="close()">{{ cancelLabel }}</button>
                <button v-if="successBtn" type="button" class="button is-success" @click="clickBtn('Success')">{{ successLabel }}</button>
            </footer>
        </div>
    </div>
</template>

<script>

    export default {
        props: {
            show: {
                type: Boolean,
                default: false,
            },
            title: {
                type: String,
                default: 'Potwierdź',
            },
            cancelBtn: {
                type: Boolean,
                default: false,
            },
            cancelLabel: {
                type: String,
                default: 'Anuluj',
            },
            successBtn: {
                type: Boolean,
                default: false,
            },
            successLabel: {
                type: String,
                default: 'Wyślij',
            },
        },
        methods: {
            close: function(){
                this.$emit('update:show', false);
            },
            clickBtn: function(type){
                var action = 'click' + type + 'Btn'
                this.$emit(action);
            },
        }
    }

</script>