<template>
    <div class="notification" :class="{ 'is-hidden': !isShow }">
        <button class="delete" @click="isShow=false"></button>
        <div class="columns is-vcentered">
            <div class="column">
                <fa-icon :name="icon" size="large"></fa-icon>
            </div>
            <div class="column is-11">
                <slot></slot>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        props: {
            show: {
                type: Boolean,
                default: true,
            },
            icon: {
                type: String,
                default: 'info-circle'
            }
        },
        data(){
            return {
                isShow: this.show,
            }
        }
    }

</script>