<template>

    <form @keydown.enter.prevent="" method="post">
        <slot></slot>
        <input type="hidden" name="ammount" :value="ammount">

        <img v-if="type=='small'" src="/img/payu-icon.png" @click="open()" title="Przekaż darowiznę na fundację" style="width: 28px; vertical-align: middle">

        <div v-if="type=='normal'" class="content has-text-centered">
            <a class="button is-rounded is-primary is-payu" @click="open()">
                <img src="/img/payu-white.png" alt="">
            </a>
        </div>

        <div v-if="type=='large'" class="content has-text-centered">
            <a class="button is-large is-rounded is-primary is-payu" @click="open()">
                Przekaż darowiznę z<img src="/img/payu-white.png" alt="">
            </a>
        </div>

        <div class="modal" :class="{ 'is-active': isOpen }">
            <div class="modal-background" @click="isOpen=false"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Przekaż darowiznę z<img src="/img/payu.png" style="vertical-align: middle"></p>
                    <button type="button" class="delete" aria-label="close" @click="close()"></button>
                </header>
                <section class="modal-card-body">

                    <template v-if="isStep(1)">
                        <p class="content">Kwota jaką chcesz przekazać to: </p>
                        <div class="field has-addons has-addons-centered">
                            <p class="control">
                                <input class="input has-text-right" type="number" v-model="val">
                            </p>
                            <p class="control">
                                <a class="button is-static">
                                    PLN
                                </a>
                            </p>
                        </div>
                    </template>

                    <template v-if="isStep(2)">
                        <p class="content">Kwota jaką chcesz przeznaczyć to:</p>
                        <p class="content has-text-centered is-large has-text-primary">{{ confirmVal }} PLN</p>
                        <p class="content">Jeśli akceptujesz, kliknij przycisk, a zostaniesz przeniesiony na stronę PayU w celu sfinalizowania transakcji.</p>
                        <p class="content">Nad bezpieczeństwem transakcji czuwa <img src="/img/payu.png" style="vertical-align: middle"></p>
                    </template>

                </section>
                <footer class="modal-card-foot is-block">

                    <div v-if="isStep(1)" class="columns">
                        <div class="column is-half">
                            <a class="button is-rounded" @click="close()">
                                Zamknij
                            </a>
                        </div>
                        <div class="column is-half has-text-right">
                            <a class="button is-primary is-rounded" @click="setStep(2)" :disabled="ammount <= 99">
                                Przekaż
                            </a>
                        </div>
                    </div>

                    <div v-if="isStep(2)" class="columns">
                        <div class="column is-half">
                            <a class="button is-rounded" @click="setStep(1)">
                                Popraw
                            </a>
                        </div>
                        <div class="column is-half has-text-right">
                            <button type="submit" class="button is-primary is-rounded">
                                Zatwierdź
                            </button>
                        </div>
                    </div>

                </footer>
            </div>
        </div>
    </form>

</template>

<script>

    export default {
        props: {
            type: String,
        },
        data(){
            return {
                isOpen: false,
                step: 1,
                val: 1,
                ammount: 100,
                confirmVal: '1.00'
            }
        },
        methods: {
            open: function(){
                this.isOpen = !this.isOpen;
            },
            close: function(){
                this.isOpen = false;
            },
            isStep: function(step){
                return this.step == step;
            },
            setStep: function(step){
                if((step == 2 && this.ammount > 99) || step == 1)
                    this.step = step;
            },
            evaluate: function(){
                this.ammount = parseFloat(this.val) * 100;
                if(isNaN(this.ammount))
                    this.ammount = 0;
                this.ammount = parseInt(this.ammount);
                if(this.ammount > 99 ){
                    this.confirmVal = (this.ammount / 100).toFixed(2);
                }else{
                    this.confirmVal = 0;
                }
            }
        },
        watch: {
            val: function(){
                this.evaluate();
            }
        }
    }

</script>

<style scoped>

    .is-payu{
        background-color: #a6c307;
    }

</style>