<template>

    <div class="columns">
        <div class="column">
            <slot name="left"></slot>
        </div>
        <div class="is-divider-vertical is-hidden-mobile" :data-content="content"></div>
        <div class="is-divider is-hidden-desktop" :data-content="content"></div>
        <div class="column">
            <slot name="right"></slot>
        </div>
    </div>

</template>

<script>

    export default {
        props: {
            content: {
                type: String,
                required: true,
            }
        },
    }

</script>